[2018-09-14 17:44] shelby3 commented on #30
@Ichoran please refresh the prior post. I addressed your point about civility.

[2018-09-14 17:52] Ichoran commented on #30
@shelby3 - Your continued use of `@` is hard to interpret in any way but as intentional badgering.  It is way more normal to not disturb people who don't want to be disturbed than it is to use `@` when mentioning them.  GitHub is set up for `@` to be helpful, trusting that its users will be responsible.

Also, I didn't mean to imply that you weren't a prolific coder, just that the priorities you h

[2018-09-14 18:05] shelby3 commented on #30
Added:

[2018-09-14 18:07] keean commented on #30
@ichoran I appreciate your detailed response.

Sure things have to be easy, we need to be careful about the complexity budget. However we also need to be careful not to mistake familiarity for ease. If we cannot offer simple solutions to the common programming problems, then it's simply not going to work. However I very much see design-patterns as making obvious the flaws of OOP. Every time you re

[2018-09-14 18:09] shelby3 commented on #30
@Ichoran wrote:

<sub>[**EDIT 2020:** frankly coming back to this 2 years hence, I find it highly irrational to conflate some imagined intention on my part with my continued use of the discussion features of Github as I always have consistently used them and as they are designed to be used to reference the person I am replying to so that the reader will know which post to look upthread for context

[2018-09-14 18:11] shelby3 commented on #30
Added:

[2018-09-14 18:14] shelby3 commented on #30
Added:

[2018-09-14 18:28] shelby3 commented on #30
Well guys look on the bright side. We were able to elicit more good feedback from @(*&#$^*&^#Ichoran.

There’s usually an upside when people are sincere.

[2018-09-14 18:46] shelby3 commented on #30
@!&*^%$&%&*$&^$^$^%$#^%$&^#^%$#$%^@#^$Ichoran*&^@%&^%$@#^%&$%&@^ wrote:

I haven’t read @*&%%&^%$^!%@$@^&$^%&&^%$^%$^%$$$^%keean’s reply yet, so this reply is all my own “missing the points”, incivility, and drooling (cripes where my god damn bib).

The entire point of typeclasses is to not hard-code the data type that your function takes. If you want to select certain data types then make an inte

[2018-09-14 19:04] keean commented on #30
@shelby3

There is no need. As long as you have modules for data and implementation hiding, there is no problem in defining new typeclass instances for _any_ type as you can only use its public interface.

At this point I would like to introduce some terminology from Stepanov to facilitate an easier discussion:

_computational_ _basis_ is the (minimal) finite set of procedures defined on a type th

[2018-09-14 19:09] shelby3 commented on #30
Please refresh. I had to clean my bib before finishing the prior response.

[2018-09-14 19:10] shelby3 commented on #30
&^%&%^$&^%$&^%$&^$&^&$&K*(&^*(&^E(*&(*&^(A(**)*))(&N stop that. The Github `@` police are on the way. “He” promised retribution.

[2018-09-14 19:28] shelby3 commented on #30
Added:

[2018-09-14 19:45] shelby3 commented on #30
Added:

[2018-09-14 20:08] shelby3 commented on #30
Yeah you know I have the same thought that is very difficult to find someone to have thoughtful discussions with in such detail. The Lambda-the-Ultimate discussions seem to run too fast / chaotically (too many disparate individuals converging leads to a chaotic soup) and they miss key details so I find those discussions rarely end up any where. Just a lot of guys rambling on about their pet langua

[2018-09-14 20:30] shelby3 commented on #30
![](https://i.imgur.com/jkm2kyH.jpg)

Lol, well at least I know the threat is going to come in from feminine form of drama, not some manly joust.

[2018-09-14 20:37] shelby3 commented on #30
![](https://i.imgur.com/jkm2kyH.jpg)

Lol, well at least I know the threat is going to come in some [feminine form of disruption](https://steemit.com/money/@anonymint/re-anonymint-re-anonymint-re-anonymint-re-anonymint-countries-vulnerable-to-economic-devastation-soon-20180913t065041160z), not some manly joust.

On further thought, I sincerely regret ever letting you know I was rebutting your blog

[2018-09-14 20:50] shelby3 commented on #30
I was not sure whether to interpret this as potential threat of bodily harm.

![](https://i.imgur.com/jkm2kyH.jpg)

(image taken from public blog, not social media account)

Lol, well at least I know the threat is going to come in some [feminine form of disruption](https://steemit.com/money/@anonymint/re-anonymint-re-anonymint-re-anonymint-re-anonymint-countries-vulnerable-to-economic-devastation-

[2018-09-14 21:04] shelby3 commented on #30
If anyone is interested in this discussions, I suggest you make backups.

I am seriously considering deleting all my posts in this latest convo.

[2018-09-14 21:54] Ichoran commented on #30
I'm putting aside the social stuff for now.  It's necessary sometimes to deal with such issues when they get in the way, but hopefully they're tackled enough so we can try again to make progress on the nominal topic at hand.

-------------

@keean

Generics do _not_ enable code reuse in the same way as encapsulation and inheritance.  They do enable nearly miraculous levels of code reuse in some ca

[2018-09-14 22:07] shelby3 commented on #30
@keean is helping me obtain [a backup copy of the issues threads](https://github.com/keean/zenscript/tree/master/issue_backups). I will retain a copy in case anyone needs it they ask me for a copy.

After backing up, I am suggesting to @keean that he should delete the entire recent discussion starting with my first post rebuking the In Defense of OOFP. That should be for our private eyes only. Wil

[2018-09-14 22:39] keean commented on #30
@Ichoran

Generics enable all the code reuse you need. Implementation inheritance is almost always a bad idea, so much so that you will not miss it. Interface inheritance is okay.

Encapsulation is provided by modules.

Its a typeclass so you can define the relation later. The point was that the sort algorithm does not depend on the object at all, it simply needs that the Order typeclass is implem

[2018-09-14 22:40] shelby3 commented on #30
I don’t get it. If you are dealing with a hard-coded data structure then why do you need subclassing?

If you do need subclassing then just use a typeclass instead of methods.

What is your point?

Sorry I don’t see how declaring the typeclass is any more difficult than declaring the method.

What are you referring to? A default method implementation that throws an exception?

And when you need to

[2018-09-14 22:45] shelby3 commented on #30
Added to the end:

[2018-09-14 23:04] keean commented on #30
@ichoran To clarify we are not talking about a totally functional language like Haskell here, I see the need to have both values and objects. A value is the normal sort of immutable thing that functional languages have and has value semantics. Objects here are simple objects, so effectively memory extents where the type encodes the memory layout, so here a `C` struct is the kind of thing we are ca

[2018-09-14 23:42] shelby3 commented on #30
Non-sequitur. Just because the `Iterator` is “difficult” to implement for `Vector` or we desire encapsulation for the instance implementation for `Vector` doesn’t diminish the utility of the `Iterator` typeclass abstraction. The abstraction provides genericity and a separation-of-concerns for all applicable data types that implement `Iterator`, not just the problematic `Vector`. The standard libra

[2018-09-15 00:51] Ichoran commented on #30
You can't write an efficient and expressive computational basis for `Seq` because which subset is efficient is different for each one, and the intersection of the efficient bases is not efficient, and it's not expressive either.  The union of the efficient bases is expressive, but not efficient, and you don't know which the efficient ones are.

So things done the same way in Vector and List can't

[2018-09-15 05:29] shelby3 commented on #30
Frankly I do not comprehend this entire line of discussion. For those methods currently offered by `Seq`, the author of each library or module for each current subtype data type (e.g. `Vector`, etc) of `Seq`  can  implement the typeclass instance for each said data type. There’s absolutely no reason for a user to be writing the typeclass instance.

I thus do not see any need for Keean’s claim for

[2018-09-15 05:33] shelby3 commented on #30
Added:

[2018-09-15 05:36] shelby3 commented on #30
Note the edit:

[2018-09-15 05:41] shelby3 commented on #30
Note the edit with a link added:

[2018-09-15 05:59] shelby3 commented on #17
Finishing up the research I had started about extant Scala concurrency paradigms, the [Monix concept](https://monix.io/blog/2018/03/19/monix-v3.0.0-RC1.html) is basically lazy iterators [named `Observables`](http://reactivex.io/intro.html).

Frankly I don’t see the benefit of bringing the knowledge of the lazy iterators into the semantics of the end user programmer, such that the programmer has to

[2018-09-15 06:06] shelby3 commented on #17
Finishing up the research I had started about extant Scala concurrency paradigms, the [Monix concept](https://monix.io/) is basically lazy iterators [named `Observables`](http://reactivex.io/intro.html).

Frankly I don’t see the benefit of bringing the knowledge of the lazy iterators into the semantics of the library-using programmer, such that the programmer has to deal with free monads. This see

[2018-09-15 06:32] shelby3 commented on #17
### M:N Green Threads Are the Superior Concurrency Model?

Click also the links in [this post](https://github.com/keean/zenscript/issues/17#issuecomment-357970079) up-thread.

Finishing up the research I had started about extant Scala concurrency paradigms, the [Monix concept](https://monix.io/) is basically lazy iterators [named `Observables`](http://reactivex.io/intro.html).

Seems they’re force

[2018-09-15 06:33] shelby3 commented on #35
[Summarized the concurrency issue](https://github.com/keean/zenscript/issues/17#issuecomment-421535329) w.r.t. to recent discussions in this thread.

[2018-09-15 06:41] keean commented on #30
@ichoran

You need to explain further. Here is an efficient and expressive computational basis for seq:
[code]
Please explain why this is not efficient or expressive.

Scala's Seq is not expressive, because all of those algorithms can be written efficiently in terms of the Iterators.

None of those algorithms need any special privileged access to the internals to be efficiently implemented.

EndsW

[2018-09-15 07:18] shelby3 commented on #30
Okay I understand what Keean means now about a computational basis and I agree with him. And yes my prior post was about the other methods of `Seq` which are not part of the computation basis and should be separated (factored) out from the computational basis abstract algebra.

[2018-09-15 07:36] shelby3 commented on #30
Okay I understand what Keean means now about a computational basis and I agree with him. And yes my prior post was about the other methods of Scala’s subclassed `Seq` which are not part of the computation basis and should be separated (factored) out from the computational basis abstract algebra.

Keean is our secret weapon when it comes to a standard library :grin:

[2018-09-15 07:47] shelby3 commented on #30
Added a link to exemplify what I was referring to:

[2018-09-15 10:43] jdh30 commented on #30
"the computational basis abstract algebra"

My 2p: this discussion has become hopelessly abstruse. Stepanov's work is an extremely complicated solution looking for a problem. You're all talking about code reuse but you're trying to factor out commonality that isn't there.

I've had iterators for ~30 years but over the past 10 years I haven't even used them once. What I do use a lot is map and fold

[2018-09-15 11:12] jdh30 commented on #30
@Ichoran

That makes perfect sense to me.

What commonality are you trying to factor out?

What gives you the impression that creating all of those type classes will result in any code reuse whatsoever?

You say "solution" as if there is a problem to solve. Not only am I unable to envisage an elegant OOP solution, I cannot even envisage a (real) problem that your solutions would solve.

[2018-09-15 12:03] shelby3 commented on #35
I have written up a detail new issue on the new Zer0 repository based on our up-thread discussion:

### [Region-based memory management, aka “Arena” pattern](https://gitlab.com/shelby/Zer0/issues/2)

Please come on over to that GitLab issue and please comment there instead of here if you don’t mind. I put a lot of effort into that post linked above as you will see.

Note I am hereby putting everyo

[2018-09-15 12:37] shelby3 commented on #30
@jdh30

Lazy iterators [can be employed to implement `map` and `fold` while also giving us](https://github.com/keean/zenscript/issues/16#issuecomment-415910578) the functional compositionality of Haskell’s laziness without the drawbacks of laziness by-default.

Also then AFAICT we don’t need the separate [complex semantics free monad concept of `Observables`](https://github.com/keean/zenscript/iss

[2018-09-15 13:03] shelby3 commented on #30
I think I finally understand the claimed issue. So ostensibly the claim is that allowing the subclass to implement all the methods of a supertype such as `Seq`, enables it to optimize algorithms holistically and encapsulated (such as in one module) as compared to separating the methods into separate typeclasses which would have to share access to a complex public API(s) the holistic interactions o

[2018-09-15 13:06] jdh30 commented on #30
Piling more on top of complexity does not result in simplicity. I don't think that solution would culminate in the simplicity that "softcore" developers benefit from. They need fewer libraries with clearer goals.

In my experience from HPC and supercomputing, those "hardcore" developers reject abstractions and strip everything back to the basics (e.g. arrays) in order to write the most efficient s

[2018-09-15 13:55] jdh30 commented on #30
"Subclassed OOP entirely locks you into a predetermined set of options of what you can limit and what you can express. It is rigor mortis."

The only flexibility I can think of that OOP offers above second-class modules is the ability to swap out one kind of class for another at run time whereas modules require everything to be resolved statically. However, I don't think that is very valuable in p

[2018-09-15 14:01] andrewcmyers commented on #30
Late binding is a critical feature of OOP that is heavily used in practice, though the reasons why you really need it may only become obvious for larger-scale software frameworks.

[2018-09-15 14:11] jdh30 commented on #30
The only "need" I can think of is that you're confined to a language that doesn't offer any of the alternatives. For example, OCaml has OOP but I've never seen it used for late binding, even in large projects. I do see late binding used extensively in C# but only because it doesn't provide any alternatives.

[2018-09-15 15:10] shelby3 commented on #30
@jdh30

Perhaps we’re entering the handwaving zone, but I will just offer that all high-level programming languages are built on top of complexity. I guess you can argue that exposing capabilities to the programmer will somehow cross-contaminate your preferred simplified interfaces such as when you interact with libraries written by others.

I agree with that. I just don’t agree that typeclass and

[2018-09-15 15:30] shelby3 commented on #30
C.f. the `centre` example @keean provided in the _Subtyping_ issues thread #8. Without fully dependent typing (something very inflexible such a Epigram or Coq), there will always be use cases that can’t be expressed statically. Note you would have to search for “Load more…” first and load the 1000 posts before you can search for the `centre`.

[2018-09-15 22:21] keean commented on #30
@jdh30

The procedures are the algorithms you need to get work done in a problem domain. You do not start by abstracting an interface, this is something Go gets right. You write algorithms to do work, say sorting, over time you find several different algorithms for sorting, so you look at abstracting the properties that make them different. This leads to the definition of the basis. The point is y

[2018-09-16 07:27] keean opened #45 "Proxy Iterators"
@shelby3 Another C++ mess:
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2015/p0022r0.html

We need to think about this carefully in light of wanting to use Pony style references. The immediate solution that occurs to be is that we need a special "bit-reference" type that encodes a bit-shift and mask, so you would effectively encode an address, and a start and stop bit range:
[code]
where the

[2018-09-16 16:40] shelby3 commented on #8
@keean this might abstractly relate to our recent up-thread discussion:

[Physicalism Implies Experience Never Dies](https://steemit.com/philosophy/@anonymint/re-anonymint-geographical-cultural-ethos-science-is-dead-part-2-20180916t163310989z)

[2018-09-17 17:26] Ichoran commented on #30
I'm puzzled by the manner in which the participants in this discussion seem to think about the precise mechanism of code reuse and the benefits of late binding.

You are all experienced and clever enough to try to come up with your own examples, so if my handwavy illustrations of scenarios don't make sense, maybe you can just create your own that make more sense to you.  I've based them on problem

[2018-09-17 18:00] keean commented on #30
@Ichoran

I guess I am not too concerned with Scala's problems, this language is not Scala :-). In C++ an iterator can simply be a plain pointer.

The iterator is just the positioning. The access to the data is separate (through the Readable, Writable and Mutable typeclasses, which are independent and orthogonal to the data-access pattern of the algorithm).

The data sharing is fundamental in the

[2018-09-17 20:05] Ichoran commented on #30
@keean - In brief--`Vector`, `List`, and `ArraySeq` are all immutable in Scala.  Anyway, although the medley of typeclasses referencing different functionalities is a possible way to implement collections with an efficient, consistent, powerful set of capabilities, I have yet to see it in the wild.  Scala's collections are really quite remarkable in that regard.  C++ tends to offer capabilities th

[2018-09-17 21:24] keean commented on #30
@Ichoran

Defining an efficient and expressive computational basis takes time, so I am not surprised people do not get it right first time. It is something people should work together to achieve. There is a saying that something is not finished when there is nothing more to add, it is finished when there is nothing more you can take out. Interfaces should be viewed in this light - an interface is

[2018-09-18 11:44] sighoya commented on #30
@Ichoran wrote:

OMG, this reminds me on an interview question I had to solve:

How to determine the salary for the whole subtree (subordinate employees and the current employee):

[code]

@andrewcmyers

@jdh30

It is nice to have such an option, but on default?
Imagine a case where you have function which is defined on `Int` and on `Union<Int, String>`.
Now you have these two cases:

1.)
[code]

[2018-09-18 12:06] keean commented on #30
@sighoya
I agree. We are okay with set-theoretic subtyping in unions or records (structural subtyping), but not with the kind of subtyping that accompanies classical OOP inheritance.

[2018-09-18 13:21] shelby3 commented on #41
@keean remember I argued that we’d see an endless stream of speculation execution vulnerabilities. Here’s a new vulnerability:

https://www.zdnet.com/article/beyond-spectre-foreshadow-a-new-intel-security-problem/

[2018-09-18 13:36] keean commented on #41
@shelby3 The problem is not speculative execution itself, the problem is that the engineers assumed because the results would be thrown away, they did not have to carry out all the security checks on the speculative branch.

I don't think AMD are vulnerable to these new 'Foreshadow' attacks.

[2018-10-05 19:34] jemc commented on #32
You may be interested to know that Pony is moving toward a slightly more complex, but more permissive model for viewpoint adaptation that treats "extractive" viewpoint adaptation separately: https://github.com/ponylang/rfcs/blob/feature/formal-viewpoint-adaptation/text/0000-formal-viewpoint-adaptation.md

It's based on [a paper by George Steed](http://www.imperial.ac.uk/media/imperial-college/facu

[2018-10-17 21:53] jdh30 commented on #35
I just noticed that the Benchmarks Games (aka Great Computer Language Shootout) has been cited several times from this thread. I'm afraid you cannot draw any strong conclusions from its results because their methodology is so flawed.

In point of fact I think @keean stated that GC'd languages are slower there. That is a reflection of the ideological beliefs of that site's owner who subjectively "[

[2018-10-17 23:09] Ichoran commented on #35
@keean @jdh30 - The CLBG expressly says, itself, that the benchmarks are flawed; but there are quite a few, and the flaws are not all identical, and my experience also agrees with Keean's (i.e. CLBG basically gets it right for most stuff).

The nice thing about CLBG is that it lets you talk about _something_ instead of waving your hands in the air.  People love waving their hands in the air about

[2018-10-18 09:34] NodixBlockchain commented on #35
I did experiments with a c runtime some time ago, to test performance of atomic reference counting vs tracing GC on binary tree algorithm, as the runtime make reference tracing easy, tracing GC was still much faster, but i would need to redo those tests because i updated memory management since i made them.

https://github.com/NodixBlockchain/memtest/tree/master/memtest

I wanted to also test case

[2018-10-18 09:40] keean commented on #35
It really depends on what you are doing with the binary tree. If you know max bound of node count, then pre allocate all the nodes in a single Arena, and then deallocate the lot when you have finished with the tree. Nothing can be faster than that.

Conversely if you need eager deallocation, then freeing memory as soon as the node is removed from the tree will be optimal for memory usage.

[2018-10-18 09:47] NodixBlockchain commented on #35
I tried to find better benchmark, there is a suit in java supposed to test
memory management performance, but didnt find much things in C.

On the overall performance for page generation or such, it doesnt make a
huge difference, maybe in the order of 10% faster with tracing GC. Knowing
that tracing GC can incur penalty for memory shared by several threads.

Le jeu. 18 oct. 2018 à 11:40, Keean Sch

[2018-10-18 09:48] jdh30 commented on #35
@keean "my own benchmarking agrees with those conclusions". As long as you've tested it independently that's fine, of course. I'm just highly skeptical of any conclusions drawn from the Benchmarks Game. My own results vary, e.g. http://fsharpnews.blogspot.com/2010/03/f-vs-unmanaged-c-for-parallel-numerics.html

"Conversely if you need eager deallocation, then freeing memory as soon as the node is

[2018-10-18 09:51] keean commented on #35
If you have "owning references" then you don't need reference counting with a tree. The internal links in the tree would be owning references, so when nodes are removed you just free them. In effect you do not allow any external references to outlive the owning reference (this is what Rust lifetimes are all about).

[2018-10-18 09:54] NodixBlockchain commented on #35
The test is not the optimal solution for the problem, but it can use enough
allocation and reference tree to test the memory management performance.

Le jeu. 18 oct. 2018 à 11:52, Keean Schupke <notifications@github.com> a
écrit :

[2018-10-18 09:55] keean commented on #35
@jdh30

With an MMU we should never need compaction. We should be able to remap the pages...

[2018-10-18 09:56] keean commented on #35
@NodixBlockchain My point is with data structures that have an "insert" and "remove" operation we don't need memory management, because we are manually managing the collection in the first place. If we forget to remove a node from a tree then we leak the space. In other words "insert" is allocation and "remove" is deallocation. There is no need to separately manage the memory.

[2018-10-18 10:04] NodixBlockchain commented on #35
Yes its just to simulate condition in which there would be dynamic
manipulation of an object dag for example. The operations would be similar
and it can give an idea of the performance, but its not the best test
possible.

Le jeu. 18 oct. 2018 à 11:57, Keean Schupke <notifications@github.com> a
écrit :

[2018-10-18 10:08] keean commented on #35
@NodixBlockchain I see, you can use this to compare performance of different automatic memory management algorithms, but it does not allow for meaningful comparison with manual memory management.

[2018-10-19 18:16] jdh30 commented on #41
@shelby3 "there’s no bump-pointer heap that I know of that didn’t have the integration overhead of being part of a mark-and-sweep GC scheme"

Cheney semi-space?

[2018-10-20 22:32] jdh30 commented on #35
@keean "If you have "owning references" then you don't need reference counting with a tree. The internal links in the tree would be owning references, so when nodes are removed you just free them. In effect you do not allow any external references to outlive the owning reference (this is what Rust lifetimes are all about)."

At least from my perspective the main practical application of trees wher

[2018-10-21 02:05] shelby3 commented on #32
@jemc thank you very much for the heads up.

EDIT: I [might have](https://github.com/ponylang/rfcs/pull/122#issuecomment-445153219) found an error or just a typo in George Steed’s paper.

[2018-10-21 02:20] shelby3 commented on #41
@jdh30 my proposal is the objects which are shared between actors (thus can be longer lived) must be ARC. Thus the bump-pointer heap is only applicable to non-shared objects which presumably are shorter-lived or at least reasonably well correlated w.r.t. lifetimes even if longer lived. If either of those two hypotheses (the young generational or at least correlated generation) are violated, then w

[2018-10-21 02:43] shelby3 commented on #45
Agreed.

The problem is the assumption that a reference type is an address in memory. Instead we need to have a typeclass for operations of reading from and writing to the object referenced.

Section 3 of the paper you linked to notes that abstraction of referencing is also necessary for example when the referenced objects exist across the network, which may very well be the case with Actors.

[2018-10-21 03:04] shelby3 commented on #35
Yikes! According [to you](http://flyingfrogblog.blogspot.com/2009/03/performance-ocaml-vs-hlvm-beta-04.html?showComment=1262656916688#c6139177951223108988), boxing on JVM causes it’s hashtable to be 32X slower than .Net.

The argument [was made recently](https://github.com/keean/zenscript/issues/41) that much of LLVM’s complexity is because C (and other programming languages) presume a model which

[2018-10-21 10:43] jdh30 commented on #35
@shelby3 "Yikes! According to you, boxing on JVM causes its hashtable to be 32X slower than .Net."

Yes. Elsewhere I found hash tables were 17x slower in Java than on .NET. http://fsharpnews.blogspot.com/2010/05/java-vs-f.html

There are several reasons for this but they all center around boxing the keys, the values or the key-value pairs. The fundamental limitation is that the JVM is incapable of

[2018-10-21 19:46] shelby3 commented on #41
@jdh30 Jon please note the massive edit to the prior post. I will delete this message after you’ve been notified to re-read the prior post.

[2018-10-21 20:02] shelby3 commented on #35
@jdh30 that is a very interesting result. Much appreciated those who build, collect and share data.

Do you think it is cache performance that demands the timely collection cycles of objects that die young for algorithms which generate a lot of young generation garbage? Seems that modern CPU performance is highly dependent on the minimizing caches misses.

But am I correct that the [remaining inso

[2018-10-23 21:53] jdh30 commented on #35
@Ichoran "String keys are the most common, and are objects so don't require boxing"

In theory, you could unbox short strings into fat references. In practice, I've never managed to get a speedup by doing this. But I haven't given up hope!

Another option is to intern all strings. I have been considering doing this as part of a language that hash conses every value. I think that presents some inte

[2018-10-23 22:03] jdh30 commented on #35
@shelby3 "Do you think it is cache performance that demands the timely collection cycles of objects that die young for algorithms which generate a lot of young generation garbage? Seems that modern CPU performance is highly dependent on the minimizing caches misses."

Absolutely, yes. Locality and sparsity are so important that I did a series of experients and wrote up my findings in a blog post:

[2018-10-24 05:04] keean commented on #35
@jdh30 Threadripper? This year I think will have 64 real cores (128 with hyper threading).

[2018-10-25 09:14] sighoya commented on #35
@jdh30

Multicore evolution is inexorable, but there are other points which have to be scaled too like system memory and in the age of immutable values, the register sizes as well.

It would be really nice to push a 32Kb struct in one shot into a cpu register.

[2018-10-25 09:58] keean commented on #35
@sighoya I'm not sure we will ever have 32k registers, I don't think it makes sense from a design point of view.

Registers normally match the ALU width, so they are the size of integer and bit-vector operations. For vectors you can have avx-512 instructions (I think that's the biggest for now) but that is for regular vector data not arbitrary structures

Put the pointer to your 32k struct in a re

[2018-10-25 11:05] sighoya commented on #35
As long as you can extract certain segments out of it, you can store anything into it and treat it as an integer.

The are two problems with the cache:

1.) It is slower than register access
2.) You don't have direct control over it

Never say never :-)

[2018-11-04 21:20] Intelleckey opened #46 "I plan to build a 3D/VR project and deploy it utilizing a blockchain application. Any starting suggestions?"

[2018-11-14 02:57] shelby3 commented on #41
Sorting out which hardware I will buy as I need to upgrade my i7-4770 desktop and prepare to be portable and mobile (will be relocating and need to do diversify my work venues not always stuck inside my cave, such as coding at the beach or in a cafe):

[Parallelization Obsoletes the Desktop Computer](https://steemit.com/computing/@anonymint/parallelization-obsoletes-the-desktop-computer)

[2018-11-14 04:29] shelby3 commented on #46
@keean please delete this thread. And my apology if anyone has tried to contact me here in this manner.

[2018-11-14 04:51] shelby3 commented on #35
See my new post in Parallelism thread. So the desktop is really not that important long-term, except that AMD is more competitive there because of their Spectre and Meltdown fixes and the high number of cores. On mobile AMD can’t compete on battery life as they still don’t have the IPC and Intel has invested a lot of design effort into maximizing 14nm because their 10nm effort failed. Yet as AMD r

[2018-11-14 07:24] keean commented on #41
@shelby3 I think the zenbook Pro is nice, although a 15" zenbook Pro might be better for extended use.

I agree that it makes more sense to rent CPU time, as either cloud instances (like AWS EC2), or even server-less compute time (like AWS Lambda). I normally keep source code in a remote repository to, and use cloud office software (Office 365 or Google docs). I try to keep nothing of value on the

[2018-11-15 11:06] shelby3 commented on #41
@keean I don’t need that screen inside the touchpad on the Pro. I would prefer not to have the numeric pad (or in the touchpad instead of¹) on the keyboard. The Pro isn’t yet refreshed for Whiskey Lake and I don’t think I want a hexa-core processor with a 35 TDP in a laptop. So I’m currently thinking the recently refreshed Zenbook classic series, although I really don’t need a GPU so I might just

[2018-11-22 03:56] shelby3 commented on #41
@jdh30 wrote:

I misapplied the terminology. My intention was to state that I know of no bump-pointer heap that isn’t integrated with some [form of tracing garbage collection](https://en.wikipedia.org/wiki/Tracing_garbage_collection#Copying_vs._mark-and-sweep_vs._mark-and-don't-sweep). I conflated the generalized category of a tracing garbage collector with the mark-and-sweep variant of said colle

[2018-11-22 08:43] shelby3 commented on #35
@jdh30

I had contemplated perhaps an analogous idea 7 years ago when I was [contemplating how to make something faster than Haskell’s `DiffArray` for n-queens](https://stackoverflow.com/questions/1255018/n-queens-in-haskell-without-list-traversal/7194832#7194832). If I am correctly understanding the answers at the linked Q&A, apparently the greatest speedup anyone achieved was using unboxed array

[2018-11-22 23:02] shelby3 commented on #35
@jdh30 wrote:

I presume you have a typo and meant to write “…actually _not_ a DAG due to…”.

I think @keean’s point distills to the Arena pattern at the generative essence.

In any case, I want to point out a refinement and generalization of the idea I presented in my prior post. And unify the Arena pattern concept with young generational collection.

If we color objects by the region in which th

[2018-11-23 21:40] shelby3 commented on #35
@Ichoran or @jdh30 do you know if ever Java (and/or Scala) ever applies unboxed primitives to fields of a class?

A [blog](https://blog.scalac.io/2017/05/25/scala-specialization.html) describes the egregious overhead introduced by Java’s autoboxing and explains that Scala automatically unboxes to the stack the primitive arguments of non-generic (or at least specialized generic) functions. What abo

[2018-11-24 08:56] shelby3 commented on #17
In addition to fixing some typos (e.g. `s/blocking/non-blocking/`), note the important up-thread edit (the bolded part insert):

You may want to click the link for the explanation of why that was added.

[2018-11-24 09:11] Ichoran commented on #35
Neither Java nor Scala box primitives in classes or in arguments to methods unless they are generic.  Here, Java forbids primitives entirely, but will transparently convert to the corresponding boxed type.  Scala allows primitives by transparently both boxing and unboxing; also, if appropriately marked an additional version of the class or method will be created with the primitive type fixed and n

[2018-11-25 05:59] shelby3 commented on #17
The generative essence for the up-thread discussion of the [Elm Architecture](https://github.com/keean/zenscript/issues/17#issuecomment-368292262) and @keean’s [idea](https://github.com/keean/zenscript/issues/17#issuecomment-366867722) for pulling events (and his [related point](https://github.com/keean/zenscript/issues/17#issuecomment-364798644)) instead of registering event callbacks, distills t

[2018-11-28 10:34] shelby3 commented on #17
Tying all our discussions into a summary and some additional insights:

[Message-based concurrency (and parallelism)](https://gitlab.com/shelby/Zer0/issues/11)

[2018-11-28 10:36] shelby3 commented on #35
Tying all our discussions into a summary and some additional insights:

[Message-based concurrency (and parallelism)](https://gitlab.com/shelby/Zer0/issues/11)

[2018-11-28 10:38] shelby3 commented on #41
Tying all our discussions into a summary and some additional insights:

[Message-based concurrency (and parallelism)](https://gitlab.com/shelby/Zer0/issues/11)

[Massively multicore + shared memory doesn’t scale](https://gitlab.com/shelby/Zer0/issues/9)

[2018-12-02 02:42] shelby3 commented on #35
I think probably the recent prior idea to transpile Zero to Scala is not going to work for us, because there is no clean concurrency story. Look at all the work Go did on their green threads (cited in my Zer0 document I linked for you) and realize we don't want to try to duplicate all that at the start.

So if we want to reuse the well implemented green threads of another PL project that is static

[2018-12-03 10:01] shelby3 commented on #41
I [wrote](http://pchiusano.blogspot.com/2010/01/actors-are-not-good-concurrency-model.html#c6571196421976972675) on the blog [_Actors are not a good concurrency model_](http://pchiusano.blogspot.com/2010/01/actors-are-not-good-concurrency-model.html):

I forgot to point out explicitly that side-effects occur even in referentially transparent programs, as I [explained](https://gitlab.com/shelby/Zer

[2018-12-09 04:41] shelby3 commented on #18
@keean [wrote](https://github.com/keean/zenscript/issues/18#issuecomment-250521287) in 2016 in response to [my comment](https://github.com/keean/zenscript/issues/18#issuecomment-250454130):

Could you give me an example of hand modification you would envision, if my responses below don’t ameliorate your point?

Because I’m contemplating that if we are the ones creating the parser generator, then w

[2018-12-09 07:38] shelby3 commented on #31
[Use type classes instead of macros](https://github.com/keean/zenscript/issues/18#issuecomment-445510765)?

[2018-12-09 15:42] sighoya commented on #18
@shelby3 wrote:

Can't we lookahead in parser combinators? For the rest of non LL(k) grammar, why not spawning multiple threads parsing different rules and write their result to some shared state, but the clue is that only one will write the result as the others will kill themselves because of no production satisfaction, implying no synchronization.

@keean wrote:

I don't see the reason why inher

[2018-12-09 19:59] shelby3 commented on #18
@sighoya wrote:

Apparently not holistically to avoid all cases of backtracking, because that [requires](http://www.slkpg2.com/documentation.html#SLK_FAQ) a holistic analysis of the grammar. You could for example familiarize yourself (if not already familiar) with the concepts of [first and follow sets](http://www.coolpage.com/copute/dev/docs/Copute/ref/llk.html) which is a global table for the en

[2018-12-09 20:02] shelby3 commented on #8
[I posit](https://github.com/keean/zenscript/issues/18#issuecomment-445566463) that @keean’s dislike of subtyping mess such as in Scala and Java has been vindicated.

[2018-12-11 13:23] keean commented on #18
@shelby3 @sighoya There are many comments I could make, but being pushed for time, I will go for the one that stands out the most.

Of course overloading (providing it is multiple dispatch, so all functions arguments take place in specialisation) can do what type-classes can do, type-classes are constrained (controlled) overloading after all. The question is more the other way around, can you do e

[2018-12-16 17:09] shelby3 commented on #18
Let me give my interpretation of @keean’s latest post above.

AFAICT, he is essentially reiterating the [point I was making](https://pony.groups.io/g/dev/message/991)¹  over at the Pony developer mailing list, that typeclasses can substitute for the need to have intersection types in the type system. Because instead of modeling the overloaded function as an intersection of function types in the ty

[2018-12-23 04:45] shelby3 commented on #35
ESR abandons Python for Go:

http://esr.ibiblio.org/?p=8161

I presume he is not aware that Go’s GC model can’t scale to massively multicore? I wonder if he’s aware of Pony.

[2018-12-24 09:40] shelby3 commented on #35
I attempted to post this reply at go-nuts discussion forum for Go about the generics proposals, but I guess Go has even banned me there as well, although I never posted there before. Censorship on the Internet is getting ridiculous.

Anyway, this was rather important and even @ianlancetaylor apparently failed to realize how to win his own point as I didn’t see him reply further after Eric rebuked

[2018-12-24 14:36] sighoya commented on #35
@keean wrote:

The problem with C++ is not adhoc overloading but the simple fact that they duck type at compile time delaying type errors from the header into the function body.

Theoretically, one could also check templates, but they don't.

Even concepts would help at least partially as the human is a bad witness for validity checking of templates.

[2018-12-24 14:52] keean commented on #35
@sighoya surely you cannot type check the template because you don't know the type of the argumebts.

Without concepts you do not know they types of all possible overloads, so you cannot type the call site until all possible overloads are in scope.

With concepts each set of overloads (a typeclass) has a polymorphic type what can be used to type-check the callsite without knowing any of the implem

[2018-12-24 15:51] keean commented on #35
@sighoya Taking a random example from Stepanov's EoP, If we declare a function requires the Concept "BinaryOperator" which includes "op.Domain" and "op.Codomain" as associated types of the Concept. In effect all "BinaryOperators" are constrained to the polymorphic type "binOp: Domain -> Domain -> Codomain". Further study will reveal that all Concepts actually impose a polymorphic type constraint o

[2018-12-24 16:04] sighoya commented on #35
Agree, but we could not impose the polymorphic type constraint for all (in future coming) overloaded functions of an overloaded function set just it is the case for typeclasses.

Further, I'm not sure if Stepanov's "Concepts" are the ["Concepts"](https://en.cppreference.com/w/cpp/language/constraints) C++ will get in their new standard, but I can't surely argue about that as I never red his book.

[2018-12-24 16:12] keean commented on #35
@sighoya

We can because it is in the concept definition. If we want something to comply with the concept it must meet the definition. All "BinaryOperator" overloads will have the polymorphic type "forall a b . (a * a) -> b" and further must be associative. There are no examples of unconstrained Concepts in Stepanov's book, and I would hazard a guess that there are no examples in the standard libr

[2018-12-24 17:03] sighoya commented on #35
The point is that you always need to enhance a new overloaded function with a typeclass bound, there is no possibility to state that all overloaded functions are automatically required to implement it.

This is indeed a key property of method overloading and the fundamental difference to typeclasses.

Whereas functions in the world of method overloading have a structural type, functions in the wor

[2018-12-24 17:59] ianlancetaylor commented on #35
@shelby3 You are not banned.  As the group description says, "Note: This group is moderated. If you are a first-time poster it may take 24 hours for your post to appear in the group."  Your post was moderated and approved and has now appeared.

[2018-12-24 22:18] keean commented on #35
@sighoya

In case it wasnt clear, I was arguing that there is no need for the added flexibility of ad-hoc overloading, and that all useful patterns can be achieved with Concepts / type-classes.

[2018-12-24 22:54] keean commented on #35
@sighoya added explanation of function intersection types to above post.

[2018-12-25 00:04] sighoya commented on #35
@keean wrote:

@keean, it wasn't my goal to convince to omit typeclasses in favor of adhoc overloading. Typeclasses indeed exhibit amazing mathematical properties and I can understand that you prefer them, I favor the same if I only had the choice between method overloading and typeclasses.

However, I don't like incorrect myths about adhoc overloading, especially this one:

Not it won't, C++'s me

[2018-12-25 02:55] shelby3 commented on #41
Remember it was ESR’s blog about SICK algorithms that prompted the discussion that lead to me writing the OP of this thread, and now he @eric-s-raymond has [blogged again](http://esr.ibiblio.org/?p=8223) about his skepticism about exploitable parallelism in software.

And again I am going to disagree with some (not all) of his reasoning (and respectfully with @keean if @keean hasn’t yet come aroun

[2018-12-25 09:03] shelby3 commented on #35
@keean wrote:

I presume we can form analogy between having _multiple_ definitions for a function and having overloaded implementations of operations (whether they be operators or functions) with the body of a _sole_ definition for a function. So we can relate your point to Eric’s operator overloading proposal for Go.

But the analogy doesn’t hold because in the latter case the polymorphic type of

[2018-12-25 09:21] keean commented on #35
@sighoya

Without type-classes all you have is duck typing. If I have a funcrion `f g x y = (g x, g y)` how can we type check this if we do not know all the possible types for `g`, note we would need to defer type checking until we know what argument is passed to `g` at the call site. As you can see this is the same problem as C++ templates.

No a supertype. A subtype follows the Liskov substituta

[2018-12-25 11:34] keean commented on #35
@sighoya okay, so I think you are right after all, my confusion comes from thinking about records (relations) instead of sets. The operator combining records is the Cartesian product, not union. So if we substitute inner-join for intersection and outer-join (Cartesian product) for union, then I think what input above is correct.

[2018-12-25 12:52] jdh30 commented on #35
@shelby3

"A blog describes the egregious overhead introduced by Java’s autoboxing and explains that Scala automatically unboxes to the stack the primitive arguments of non-generic (or at least specialized generic) functions. What about for fields of a class? Are they always boxed? If yes, then this is a significant performance weakness of the JVM. Might explain why @keean hates tracing GC on the

[2018-12-25 13:10] sighoya commented on #35
@shelby3 wrote:

Absolutely, no. You have the same problems with typeclasses if you enable fancy stuff like overlapping instances (corresponding to specialization) or how ambiguities are handled in general.
That's my point.

Adhoc overloading and typeclasses aren't that different.

Agree, but two typeclass having the same instances are different whereas two overloaded sets with the same members ar

[2018-12-25 14:14] shelby3 commented on #35
@sighoya wrote:

Typeclasses in their purest conceptualization (i.e. no output associated types, no overlapping instances, a global non-modular abstract algebra so no conflicting instance overloads) have a single-point-of-truth parametric polymorphism contract. Ad hoc function overloading does not have this property in any conceptualization of overloading functions with an unbounded number of func

[2018-12-25 14:19] keean commented on #35
@sighoya

If you know the type of g by inference to be R->S->T you have already assumed it to be parametrically polymorphic, and not freely overloadable, for example "A->B->C /\ D->E->F" is not assignable to "R->S->T".

I am not sure I understand your issues with intersection types?

[2018-12-25 18:46] sighoya commented on #35
When I sometimes talk to you both I feel like I'm talking to an extra terrestrial nature, but I strongly believe this feeling is conversely given.

@shelby3 wrote:

Ad hoc function overloading does not have this property in any conceptualization of overloading functions with an unbounded number of function definitions

@shelby3, what is the problem with adhoc overloading when you don't permit any

[2018-12-25 18:59] keean commented on #35
@sighoya I appreciate your input, and it made me realise a misunderstanding, which is very helpful.

I would like to understand more about your missgivings about intersection types.

[2018-12-26 00:46] shelby3 commented on #35
@sighoya wrote:

Let me attempt to unpack more coherently for the benefit of other readers (who may have a headache trying to decrypt your discussion).

If `A` and `B` are orthogonal types that thus have no subtyping relationship:

[code]

Then their intersection `A /\ B` (aka `A ⨅ B`) is empty because there is no defined type that can be assigned to `A /\ B`. If `A` and `B` are in the ground type

[2018-12-26 01:13] shelby3 commented on #35
Refresh. I added:

If the compiler is implicitly forming a subtyping relationship where the supertype is the function name and all overloads are the subtypes, then yes the intersection is populated with both overloads per the same reasoning as I explained above. The key point is that there is an implicit subtyping relationship.

---

Not at all. I clearly stated I wasn’t endorsing the truculent at

[2018-12-26 03:16] shelby3 commented on #35
Refresh. Note I added:

Because `Bool` and `Int` presumably have no subtyping relationship, but apparently you’re assuming that compiler is making an implicit subtyping relationship for an overloaded function that has two variants `Bool->Bool` and `Int->Int`.

[2018-12-26 03:21] shelby3 commented on #8
[Re-summarizing and](https://github.com/keean/zenscript/issues/35#issuecomment-449882097) expounding on what I learned about subtyping from the MLsub paper.

[2018-12-26 04:05] shelby3 commented on #35
@sighoya wrote:

You did not refute @keean’s original point at the start of the discussion as quoted above. Just because you can write an unbounded parametric polymorphic function that can model (the intersection type of) unbounded overloads, does not refute the point we were making that typeclass bounds are not unbounded parametric polymorphism. The former has a stable, bounded invariant and the

[2018-12-26 04:09] shelby3 commented on #35
Refresh. I added:

I have upvoted some of your comment posts. So it would not be accurate to think I do not recognize when you contribute in a way that is useful to me (or which I think is useful for others). Of course I recognize my opinions are not absolute truth nor am I omniscient. Yet I hope I have made valid points in my response to you today.

[2018-12-26 09:41] keean commented on #35
@sighoya

Working backwards, with a function like `int->int /\ bool->bool` we can assign this intersection function to something with type 'int->int', the intersection is clearly the subtype.

So if `A /\ B` is the greatest common subtype, then given two records `{a b c} : A` and `{b c d} : B` the greatest common subtype (something that can be _assigned_to_ A or B) would be {a b c d} and the least

[2018-12-26 18:52] sighoya commented on #35
@shelby3 wrote:

I never said they are equivalent, but they aren't **that different**. To refine it, they aren't that different regarding adhoc polymophism. Of course typeclasses are algebras, something which can't be modeled with adhoc overloading.

I didn't say that.

Fine, we have a definition (And even this isn't the 100% right definition, but we have already talked about it).
When we mean run

[2018-12-26 19:58] sighoya commented on #35
@keean
Thanks for your explanation, but it unfortunately it doesn't help me, you view things like a logician, and I view it structurally.
But I think I've groked it.
I will try to invite you in my humble thoughts:

**Records**

Let's say we view Structs as sets containing named tuples (ordering doesn't matter):
e.g.:
[code]

Define classes as row polymorphic structs where `x u y` means union of th

[2018-12-26 22:05] shelby3 commented on #35
@keean wrote:

That is only correct if you presume _structural typing_ (which btw [is not](https://www.cl.cam.ac.uk/~sd601/thesis.pdf#page=33) the same as _structural subtyping_).

After discussing this with you in private and then the follow-up [detailed post](https://github.com/keean/zenscript/issues/35#issuecomment-449882097) I made yesterday, I hope you agree that given nominal typing (aka sub

[2018-12-26 23:31] shelby3 commented on #35
@sighoya wrote:

Well it also depends on whether type-classes are structurally or nominally typed. With nominal typing, they become even less associated with ad hoc polymorphism because there is no unboundedness (per my prior post replying to @keean) in the invariants of the function type (except if there’s an output associated type). Ad hoc polymorphism (aka function overloading) is an unbounded

[2018-12-26 23:42] shelby3 commented on #35
Refresh. I added, because @keean edited his post:

So you propose to [bifurcate your program](http://journal.stuffwithstuff.com/2015/02/01/what-color-is-your-function/) into singleton and non-singleton types so that you can reason about non-disjointedness only one side of your useless bifurcated paradigm?

Of course your rebuke is facetious and vacuous.

[2018-12-26 23:46] keean commented on #35
@shelby3

No, all types are composed of singletons, so there is no bifurcation. Can you give an example where you think non-disjointedness would cause problems?

[2018-12-26 23:49] shelby3 commented on #35
@keean wrote:

Nonsense.

The link was already provided in my first reply to you. You ignore the links, thus you cause a proliferation of needless posts. That links off to the discussion at Pony dev mailing list. That post there links off to a specific Issue thread for unsoundness discovered in Pony. Heck I have been writing about that in the Compiler Implementation thread recently which you repli

[2018-12-26 23:51] keean commented on #35
@shelby3 I see a long post addressing many things, but nothing that specifically points out a problem with what I suggest above. Can you post here the specific problem with the above.

[2018-12-26 23:55] keean commented on #35
@shelby3

A singleton type is one that contains a single value, for example they type `True` contains the value `true`. Likewise the type `False` contains only the value `false`. We can then compose a type like `Bool` using those singleton types and union:
[code]
As such Book is just a type alias for an equation that consists of only singleton types. Any non-function type can be decomposed into si

[2018-12-27 00:05] shelby3 commented on #35
@keean I will give you one strong additional hint. Think about why Haskell is unsound if they tried to add anonymous structural unions. You should be very familiar with that given you were a co-author of the HList paper. The structural typing of Haskell is sound because they don’t have the unions which would be non-disjoint due that that structural typing.

[2018-12-27 00:05] keean commented on #35
@shelby3 I don't have time to go chasing links, and I don't see anything that's discusses problems with the distribuion of operators above. I remember the problems with Pony that we discussed, but I don't see how that is relevant to the treatment of unions an intersection above.

[2018-12-27 00:11] shelby3 commented on #35
Refresh. I added:

[2018-12-27 00:18] keean commented on #35
@shelby3

Soundness simply means they types match the semantics. So we can recover soundness by saying there can only be one of any type in a union or intersection. This actually makes sense when you consider the following identities:
[code]

[2018-12-27 00:33] shelby3 commented on #41
Refresh. Note the edit:

EDIT: I am not disagreeing with the point that such massively multicore CPUs will be specialized. In this thread for example, I noted that with the Pony model we could in the future have software cache coherency because extant hardware cache coherency is an Amdahl’s law limitation on scaling massively multicore. But note the hardware model remains a general purpose stack m

[2018-12-27 00:45] shelby3 commented on #35
Refresh. I added:

When you don’t understand the generative essence, then accuse the other person of not making any sense. Specifically subtyping relations between types when combined with unions of said types, will always create that unsoundness. There’s no way to remove the non-distributive lattice that subtyping relations create. The only solution is as I stated.

[2018-12-27 02:15] shelby3 commented on #35
And note that structural typing forms implicit subtyping relations.

[2018-12-27 03:08] shelby3 commented on #41
Refresh. I added:

Who would have thought that Pi [would be by now](http://esr.ibiblio.org/?p=8223#comment-2139731) mathematically proven to be computable in parallel and have believe in 1998, “The Law of 1998, Why Would Anyone Ever Need 16GB of RAM?”.

[2018-12-27 08:57] keean commented on #35
@shelby3

It might not be right for your language, but there is no need to remove the lattice, which is distributive by the way.

As in my above example {int bool} correctly distributes to `(true /\ 0) \/ (false /\ 0) \/ (true /\ 1) ... etc`. Remembering these are types not values, the type `true /\ 0` is as pointed out above a record containing the value 'true' and the value '0', in this case acc

[2018-12-27 13:54] NodixBlockchain commented on #35
I think what you mean is that there is no formal definition of the type of
the objects that can be used as a parameter to a c++ template. Often the
only way to figure out is to try to create an instance of the template with
an object to see if the compiler throw an error, but its not always easy To
know the trait an object must have for the functor/template to compile with
it.

[2018-12-27 16:49] shelby3 commented on #41
Refresh. I added:

EDIT#2: Eric is [apparently now understanding](http://esr.ibiblio.org/?p=8223#comment-2141614) that games are one example where massively multicore CPU is utilized (and not just the GPU), and I agree with [his statement](http://esr.ibiblio.org/?p=8223#comment-2141506) (quoted below) that the lack of tools (specially [the programming language](https://github.com/keean/zenscript/i

[2018-12-27 17:09] shelby3 commented on #35
@keean, you’re so lazy and disrespectful that you continue to write irrelevant noise that doesn’t address the issue I raised. How difficult is it for you to click the link in what I wrote:

I will quote from that first link and hand feed you as your secretary as you have enslaved me to do, since you continue to add irrelevant nonsense posts and making it seem like you have proven something when al

[2018-12-27 17:36] keean commented on #35
@shelby3 if you look at the relational algebra I propose you will see it is sound. The MLSub paper does not apply. In a relational algebra the M3 lattice is distributive, the bottom of the lattice is joining all three relations on bool, and projecting just that column, this is the supertype of everything as required. The type with the widget is the join on bool projecting all columns, and is corre

[2018-12-27 17:40] shelby3 commented on #35
@keean you have not addressed the problem in the Pony issue thread which was linked for you from the very beginning. You attempt to move the goal posts by asserting what you think soundness should include and not include.

[2018-12-27 18:30] keean commented on #35
@shelby3 I have not said anything about Pony, and I was trying to understand why intuitions about records seemed wrong, and what objections @sighoya had to intersection types. The have not disputed any of your claims about MLsub or Pony, and I have not made a mistake I have tried to cover up. What I have done is express my understanding of how intersection and union of record types are correctly e

[2018-12-27 19:04] sighoya commented on #35
@shelby3 wrote:

Because of non global coherence, associated types and overlapping instances?

Because typeclasses are nominal, whereas ad hoc overloading is structural.
Please let me describe this.
When I say nominal, I don't refer to named instances, but to the aspect that a typeclass as a changing structural entity (undbounded) is always bound to the same name where this is not the default case

[2018-12-27 19:32] sighoya commented on #35
Agree.

Don't agree.
Your prior statement refers to the type union, not the value union. The type union is the union of two relations (tables) containing values (records/tuples).
But the union of two values is different. Consider a record/tuple as a set, then `(1,2) u (3,4) = (1,2,3,4)`

[2018-12-27 19:40] sighoya commented on #35
@keean, refresh please.

[2018-12-27 20:16] keean commented on #35
@sighoya

Yes, but remember it's typed, so think of relations (Code's relational algebra). We can only union the values in the _same_ columns, so it works like this:
[code]
The thing to remember is the column label is a type not a value. So structurally the above have type `{a, b}`.

So in my above notation the field labels `a`, `b`, `c` etc are part of the type not the value. This is the same as

[2018-12-27 21:22] sighoya commented on #35
@keean

Alright, but what is the interpretation of {a:1,3;b:2,4} ?, do you flat it into two rows {a:1,b:2} and {a:3,b:4}?

[2018-12-28 01:02] shelby3 commented on #35
@keean wrote:

Sorry but I think you’re backsplaining. Here is the history condensed so you can see it for yourself:

@shelby3 wrote:

[2018-12-28 02:56] shelby3 commented on #35
All of the above I suppose and including incompatibility with modularity. Also the point and links I provided yesterday upthread about axioms can’t be proven without fully dependent typing which requires the programming language to be a theorem prover like Coq which obviously isn’t practical.

Total orders simply don’t exist. What @keean thinks is a total order, is really a partial order masquerad

[2018-12-28 10:57] keean commented on #35
@sighoya

Those two forms are isomorphic.

[2018-12-28 11:30] keean commented on #35
@shelby3

If you mean your point about needing to be careful about combining language features to avoid unsoundness, then I totally agree. However being careful we can easily construct a useful language based on relational algebra that is sound. As type-classes are an orthogonal feature, I can't see any issues with a structurally typed relational language having type-classes. In fact this helps us

[2018-12-29 00:36] shelby3 commented on #35
I [posted](https://medium.com/@shelby_78386/crystal-made-a-critical-error-which-was-to-adopt-subclassing-instead-of-type-classes-856c72da8d89) on Medium:

[2018-12-29 01:01] keean commented on #35
@shelby3

I don't like this solution, as I don't think it should be left to the IDE to make up for insufficiencies of the language. I also don't like the idea of hiding code, or having code somehow dynamically changes, as that moves us further from declarative programming.

One possible solution is to allow automatic derivation of such types so you could write:
[code]
Which would derive a default

[2018-12-29 01:47] shelby3 commented on #35
Refresh.

[2018-12-29 01:58] shelby3 commented on #35
Refresh again.

[2018-12-29 02:13] shelby3 commented on #35
@keean or anyone, why would one want to create a PL and compile it to LLVM instead of C/C++?

With the latter you get higher-level debuggers until you can have your own native debugger. With C++ you get much higher-level semantics to express your compiler output.

Does anyone have any ideas they can share? I am looking for counter-points to my thought that we should compile Co to C++.

[2018-12-29 04:42] shelby3 commented on #35
I wrote:

Perhaps this is where the confusion lies? I know all of us know that the entire point of subtyping is that we can substitute the a subtype where we have the static type of the supertype. So if your union guarantees the static supertypes are disjoint, it doesn’t guarantee that the actual runtime type is not a subtype. And the subtype could violate the distributive lattice property as show

[2018-12-29 07:19] NodixBlockchain commented on #35
One bad side of compiling to C/C++ is it can be not so easy to use
SIMD/atomics or special instructions. And need to deal with compiler
specifics like runtime, eventually stdlib, and possibly other things. Or
then you need to do your own runtime.

For debugging, you wont have the information about the original source code
if you debug from the C/C++ version.

As far as i know you can get the llvm

[2018-12-29 09:57] shelby3 commented on #35
@NodixBlockchain  wrote:

The alternative is apparently LLDB on LLVM [which apparently](https://youtu.be/3Lqiupxo4CE?t=354) is basically dealing with assembly code.

[2018-12-29 11:41] keean commented on #35
New thought on union type-classes. We previously discussed a typeclass like the following:
[code]
Originally I thought we could not use this as a return type for a function, because we could not recover _all_ typeclasses for Int from this. However I now think that I was wrong, and we can do this (although you can't in Haskell).
[code]
We can actually derive the instances required for Print, but on

[2018-12-29 17:49] keean commented on #35
@shelby3

How is that possible? Types can only be declared in one location. You cannot import two incompatible definitions of the same type in _any_ programming language.

[2018-12-29 21:44] shelby3 commented on #35
@keean wrote:

Structural typing. Remember.

[2018-12-29 23:13] keean commented on #35
@shelby3

I will need an example. I don't see the problem because structural typing is stable. By that I mean an `Int \/ String` has the same properties no matter which file it is declared in. Can you post a minimal example that shows the problem?

[2018-12-29 23:33] shelby3 commented on #35
Module 1 has: {int} \/ {string}
Module 2 has: {int string}

[2018-12-30 00:01] keean commented on #35
@shelby3 Okay, I see what you are referring to, that:
[code]
but using `</:` for is not a subtype of:
[code]
There is no problem if we go via either type in the lattice so both the following are true:
[code]
So either we disallow passing `{int string}` to `int \/ string` directly without going via `int` or `string` or we have to redefine `\/` as _either or both_

If we assume we do not allow `{int

[2018-12-30 00:59] shelby3 commented on #35
@keean I wrote `{int} \/ {string}` not `int \/ string`.

[2018-12-30 01:01] keean commented on #35
@shelby3 that's isomorphic,
[code]
Because:
[code]

[2018-12-30 02:05] shelby3 commented on #35
@keean I did not know you were planning to match record fields to primitive types with structural typing. In any case, your replies continue to entirely irrelevant. This is getting to be so comical that I am going to stop replying.

[2018-12-30 09:12] keean commented on #35
@shelby3 This is a completely different type system from the point I introduced a type system for a relational algebra. I apologise if I did not make that clear enough.

I have no idea what point you want me to address. At the moment I am proposing that this new type system is sound. If you have a specific question you want me to address then please spell it out clearly.

Yes, and I understand how

[2018-12-30 13:00] shelby3 commented on #35
@keean wrote:

I’m sorry but the facts speak otherwise.

Again you side-stepped my point. I said `{int string} <: {int} \/ {string}` not `{int string} <: int \/ string`.

So taking my point and applying to your rules above, then it is impossible for your system to exclude the modularity violation case that I provided an example for.

[2018-12-30 14:43] keean commented on #35
@shelby3

This is not true, subtyping does not have to be transitive.

Sorry that was just a typo, I meant to put:
[code]
You are also ignoring the possibility that unions are not disjoint, so I have showed two ways it can be sound, non-disjoint unions _or_ non-transitive subtyping. Both are perfectly valid ways to do this. Whether you want those options in your language is your choice, but you ca

[2018-12-30 20:55] sighoya commented on #35
@keean wrote:

Isn't it `x:Int /\ String`?

The subtype relation is a partial order and therefore transitive, if you change that, then "subtype" is a word like any other.

Absolutely, but does it imply equivalence?
This is a common syndrome of mathematicians to conclude so.
Wasn't it the emergence theory which stated that a composition is more than it's constituents?

What you try to achieve here

[2018-12-30 23:45] sighoya commented on #35
@keean wrote:

Okay, it is even possible with my semantic but I'm not sure if think about the same.
With the definition of `/\<T1,...,Tn>` in my last post, `b:Int \/ String=a:Int /\ String={1,1.0}` implies `b:Int \/ String  = 1`, `b: Int \/ String= 1.0`, so if this is the order of these assignments, then b is 1.0.

This is the purpose of my semantic, a value `int /\ string` is a supervalue of `int

[2018-12-31 08:49] sighoya commented on #35
Sorry, again, I think I was right (very confusing). I meant the following:

`(<:)` is a function (we also see it as a relation returning true if we have an entry in it) accepting two sets and returns a `Bool` .
We have already entries `(Int,Int \/ String)` and `(String, Int \/ String)` in it, but also `(Int /\ String, Int \/ String)` , so regarding:

1.) `(Int,Int \/ String)`  with `Set /\ Set->Bo

[2018-12-31 08:58] sighoya commented on #35
Note, I deleted my prior post as it was wrong (confusing type level with value level).

[2018-12-31 09:49] keean commented on #35
@sighoya okay, I guess that confusion is a good argument to avoid type systems like this :-)
[code]
In some ways the record syntax is clearer, and isomorphic:
[code]
Unfortunately this would appear to depend on the matching rule. If we go with most specific match, then it would be `String`, if we go with first match, including subtyping, it would be `Int` or possibly even `{Int, Float}`.

If there

[2018-12-31 10:03] keean commented on #35
@shelby3 So thinking about the above, the following would seem to be optimal to me:
[code]
I quite like this syntax for unions `|int, string|` as it echoes records (type indexed products) and `|` is used for 'or' already in some languages. In this context a union is also a 'type indexed co-product`.

Note: this avoids any issues of unsoundness with intersection types, because the singleton record

[2018-12-31 10:43] sighoya commented on #35
If we consider records `{a:S,b:T}` as `Record<a:S,b:T>` and `Int \/ Float` as `Union<Int, Float>` then our systems becomes nominal with the ability to control implicitism over typeclasses able to simulate structuralism.

@keean wrote:

Shouldn't it be:
[code]
when <: corresponds to the subsetOf relation?

With your rules, how we resolve?:

[code]

[2018-12-31 10:46] keean commented on #35
@sighoya looks like I have all my subtype arrows backwards today, I will fix.

[2018-12-31 11:01] keean commented on #35
@sighoya

Well I was suggesting a name kind that can be applied to any type, which you could view as a type constructor. So given: ` "name" type` as a type naming mechanism this can be applied to record labels, union members (to make them disjoint sums) and to complete unions and records like this:
[code]

[2019-01-01 03:12] shelby3 commented on #35
@keean wrote:

Incorrect and I do not have any more time to waste on this nonsense.

Taking into account your corrected typo:

The last line is impossible to prevent without fully dependent typing a la Coq, because some where in the program we can assign a `{int string}` to an `{int}`. Then some where else in the program we can assign that `{int}` to `{int} \/ {string}`.

You’ve turned this thread

[2019-01-01 08:56] keean commented on #35
@shelby3

That's actually not a problem, because when we assign `{int string}` to `{int}` we discard the `string` so it really is just an `int` which we can easily assign to `{int} \/ {string}`. Once a subtype is assigned to the type, it is indistinguishable from that type, so an `{int}` is and `int` it doesn't matter how or what got assigned to it.

There is only a problem if we try and directly

[2019-01-01 14:05] shelby3 commented on #35
@keean wrote:

The type `{int string}` represents a record type with two fields, e.g.:

[code]

You can’t discard the `string`.

Did you entirely forget that this discussion with your assertion that we need structural typing of records.

[2019-01-01 16:59] keean commented on #35
@shelby3

I think the point you want to make is that you would break object identity for mutation. This is true, the relational language would have to be functional with immutable data to be sound.

I disagree, subtyping is a relation between _types_ it has nothing to do with the value semantics that accompany, all we require is that it is sound, that is the sematics are valid for all admitted typ

[2019-01-06 07:33] shelby3 commented on #35
@keean wrote:

Subtyping is about polymorphic _substitution_ of types. When as you proposed copying data to a new type (so that it conforms to a non-disjoint invariant) that is not substitution of the original type.

---

What issue? Typeclasses (excepting associated types) are not involved with the type system. Thus they have nothing to do with the disjointed invariant of unions.

[2019-01-06 09:59] keean commented on #35
@shelby3

You are confusing the value semantics of the language with the relations between types in the type system. A type in a function is the same whether passed by reference or copied. I can write:
[code]
And when an `{int string}` is assigned to an `{int}` it must behave _exactly_ as the `{int}` and it should be impossible to determine how the `{int}` got its value, because the type is indist

[2019-01-12 09:21] shelby3 commented on #41
As I postulated up-thread, moving towards software driven cache coherency and minimizing the moves of data between cores:

http://www.rexcomputing.com/

[2019-01-12 09:48] shelby3 commented on #35
@keean wrote:

Please don’t make ignorant accusations.

You proposed changing the type by discarding some of the fields when copying it. I already claimed that discarding breaks encapsulation invariants of what it means to be a type.

You’re correctly presuming that because you’ve copied the type (and changed the copy) that any references to the type that are not viewed through a supertype will no

[2019-01-12 09:48] keean commented on #41
@shelby3 it's great to see people trying to make progress in this area, however I am not hopeful for success. Cache is very regular (that is it is easy to construct the blocks from hardware 'macros' when designing the chip, so in terms of hardware design effort it is cheap compared to complex parts like instruction decode, ALUs amd control logic  whilst at the same time producing a very large incr

[2019-01-12 09:56] keean commented on #35
@shelby3

I am not.

Encapsulation has nothing to do with type systems, it is a value level property of _classes_. There is no encapsulation in Haskell (without existential types) for example.

You are the one shifting the goalposts by trying to move this to encapsulation rather than subtyping.

Incorrect. Subtyping is a relation between two types, there are no values involved. Semantics is the be

[2019-01-12 18:53] shelby3 commented on #35
Incorrect! Subtyping is about substitution and this includes the semantic invariant of encapsulation of the type. Coercing and converting that type is not subsitution, it is a morphology of the semantics of the type.

You have wasted far too much of my time on this.

[2019-01-12 19:00] shelby3 commented on #35
And the relation between types includes the semantic invariants of that relation. Subtyping is about substitution of the type as it is, retaining the semantics of what the type is. You violate that by not substituting and instead coercing and converting the type, and then try to magically claim that the dependence on the semantics of the type you converted is irrelevant. You do this to try to avoi

[2019-01-12 19:20] Ichoran commented on #35
Why argue about definitions when you can either (1) look them up, or (2) clearly define what you mean?

At least it's worth checking, say, Wikipedia to see if anyone else considers coercion to be a valid form of subtyping: https://en.wikipedia.org/wiki/Subtyping#Coercions

[2019-01-12 20:47] keean commented on #35
@Ichoran This paper has a nice summary:

https://www.irif.fr/~gc/papers/icalp-ppdp05.pdf

Which suggests that my approach of axiomatising the relation in a formal system (ignoring the actual programming mechanism used at runtime to achieve this) is by far the more common approach to defining subtyping relations. From what I can tell @shelby3 approach is semantic, but even then it is not _prohibite

[2019-01-13 08:39] shelby3 commented on #35
@Ichoran wrote:

Where do you suggest looking up a canonical definition?

I see the definition on Wikipedia includes the word substitutability.

Coercion+conversion is not substitution. Wikipedia is confused with itself (as is often the case because numerous people editing different sections).

I did clearly define what I mean.

Wikipedia is well known by smart people (such as the 3+SD regulars on

[2019-01-13 08:55] keean commented on #35
@shelby3 Normally things are decided on the balance of probability. In this case when the discussion is what people mean by 'subtyping' then a literature review is appropriate. So far @Ichoran has provided a reference to support his view, and I have provided a reference to support my view. We await your reference(s). In general when talking about the 'accepted' use of a term, that would be the one

[2019-01-13 10:30] shelby3 commented on #35
@keean wrote:

Quoting from that paper:

Type aliases, implicit functions, type-classes or macros (i.e. “abbreviation mechanism”) are not typing. The the use of the term ‘subtyping’ here is a misnomer. It should be named perhaps ‘implicit conversion function’ which is what Scala’s `implicit` does. Type systems must be semantically coherent at the level of semantics they model. By subtyping, we imp

[2019-01-13 10:35] shelby3 commented on #35
Basically subtyping is mostly an unrealistic feature. It nearly always has corner cases and creates “vacuous reasoning”. A semantically sound subtyping system requires some limitations.

Those who don’t want just semantics can choose to build other systems which are not semantically coherent type systems. These include coercions, implicit functions, macros, type-classes, etc.. Nevertheless that is

[2019-01-13 11:00] shelby3 commented on #35
If you guys want to argue that subtyping should not enforce the disjointedness invariant because you don’t prefer to have that semantic coherence, then that is a different argument than the one @keean was making. He was claiming that the disjointedness was achieved by his proposed coercion. No, all that did was mask the fact that the semantic incoherence is still lurking.

Given that the Coercive

[2019-01-13 11:08] shelby3 commented on #35
I wrote:

Note though that the points remains that Coercive Subtyping may not even be in the type systems. If the abbreviations can be expanded before running the type inference engine (or if there is not type inference), then maybe we can say the coercions are not involved in the type system. Which is the case for example for type-class instance resolutoin, except if there are output associated (

[2019-01-13 11:13] shelby3 commented on #35
s/OOP/subclassing/

[2019-01-13 11:20] shelby3 commented on #41
Your argument is only true for some markets.

Laptop != mobile. Mobile people typically want (at least a day’s) battery life before prioritizing performance. Business laptop (not gamers) people typically want (at least a a few hours) battery life before prioritizing performance. ARM is killing Intel on mobile. ARM is preparing to make a run at the server market.

Rex Computing is I believe targeti

[2019-01-13 11:21] shelby3 commented on #41
Rome is not built in a single day. Intel and hardware cache coherency will die in peripheral markets before finally succumbing in other mainstream computing.

[2019-01-13 12:13] shelby3 commented on #35
Whether a type system should prioritize certain semantic invariants or axiomatic structural generality is matter of priority and choice of the programmer. For example, whereas structural (sub)typing breaks the disjointed invariant, it enables more subtypes.

I originally pointed out that the disjointedness issue was not peculiar to MLsub (as @keean was dismissing the relevance thereof) but a gener

[2019-01-13 12:15] keean commented on #35
@shelby3

I am not sure where you think I have been incorrect. I have been quite careful to explain that my thoughts about record subtyping relate to a new type system and not to Scala or any other language you might be familiar with, although there are languages and research papers that also take this syntactic approach to subtyping, and it is apparently the most common approach in the literature

[2019-01-13 12:42] keean commented on #35
@shelby3 wrote

There is no need for the quotes around subtyping, coercive subtyping is a completely valid form of subtyping.

[2019-01-13 12:42] #35 closed

[2019-01-13 14:04] shelby3 commented on #35
@keean, since I can no longer click “Load More...” in either my Chrome or Firefox browsers (Microsoft has ostensibly broken Github), then I can not get access to quote where you started your diversion about how my point was not relevant generally to PLs and how you claimed that you had eliminated the disjointedness issues with your proposed coercion. You did not vacate the lack of semantic disjoin

[2019-01-13 16:54] shelby3 commented on #39
On further thought, that clumsiness is due to the [incorrect design of `map`](https://julesjacobs.github.io/2014/10/16/the-best-collections-library-design-1.html#map-in-haskell) in that it returns the same type as the input collection.

Scala’s ([arguably](http://lambda-the-ultimate.org/node/5230#comment-89277) Martin Odersky’s) [corner-case laden “solution”](https://julesjacobs.github.io/2014/10/

[2019-01-13 17:04] shelby3 commented on #35
This was my own comment and should not be blockquoted (again I am unable Github issue posts now):

[2019-01-13 17:14] shelby3 commented on #39
On further thought (and realize Microsoft broke my ability to edit my prior comment post, or @keean removed my privileged to do so?), we don’t have to incur the inefficiency of forcing `map` to output a sequence type when we really intend to invoke `fromSequence` anyway. Simple declare the `map` type-class as a two parameter type-class that also inputs the type of its output. For unsupported outpu

[2019-01-13 17:55] keean commented on #35
@shelby3
So far you have not refuted my claim that union-subtyping with type-classes exposes the same problems as union-subtyping with record-subtyping?

[2019-01-13 17:59] keean commented on #39
@shelby3 no changes in permissions from me, but maybe the defaults have changed?

[2019-01-13 18:02] keean commented on #41
@shelby3 Didn't work for the Platstation2 which had a non-cache architecture, but the PS3 (and PS4) went back to a traditional architecture because it was too difficult to program for the PS2.

[2019-01-13 19:40] shelby3 commented on #39
I will try accessing from the laptop with newer versions of all browsers including IE, and report if I have the same problem.

[2019-01-13 19:43] keean commented on #39
@shelby3 IE is not a good browser, even Microsoft realised this and tried to fix in Edge. Edge is better if you have windows 10. I used to really like Chrome, but these days I tend to use Firefox. Why not install Firefox?

[2019-01-13 19:45] shelby3 commented on #41
We need a PL that supports the model and is popular. Rome is not built in a day. We are actively developing Co now.

Also the PS2 did not have enough cores to make it worthwhile. When the s/w cache systems have 20X more cores per watt (and thus per TDP limitation), the incentive increases.

[2019-01-13 19:50] keean commented on #41
@shelby3 software control of scratch memory is a pain. The problem is that it makes it the compilers job to control the cache, but the compiler cannot anticipate runtime scheduling. It may save power, but it won't work any where near as well as a hardware cache that can account for the actual runtime scheduling of instructions and interrupts.

[2019-01-13 20:22] shelby3 commented on #41
@keean did you forget my upthread point that with “Actors” (actually CSP), the management of the cache _coherency **between**_ cores can be managed in s/w at the juncture of the sending of messages. Removing that h/w responsibility will save power and with the right PL then it will not be hard to program.

Again I reiterate that this requires thinking about global memory as partitioned into “Actor

[2019-01-13 20:28] shelby3 commented on #41
I emailed Rex Computing asking them to read my prior post.

[2019-01-13 20:30] shelby3 commented on #39
I meant Edge (not IE) on my 2017 model ASUS laptop running Windows 10. :shudder:

I hate Microsoft so much I do not even bother to remember the names of any of their new sh8t.

[2019-01-13 20:52] shelby3 commented on #35
What claim? Your post is incomprehensible.

No you can’t. I said row polymorphism is emulated with type-classes.

What are you proposing?

[code]

That is not allowed.

[2019-01-13 21:06] keean commented on #35
@shelby3

[code]
Is that allowed, and if not, why not?

[2019-01-13 21:31] shelby3 commented on #41
Apparently compiler driven methods are approaching h/w controlled methods:

https://ece.umd.edu/~barua/udayakumaran-TECS-2006.pdf

Note that paper seems to support the fact that most of the power consumption gains are not from eliminating the h/w mgmt of the cache:

lower power than a cache of the same capacity. These savings are significant since the onchip cache typically consumes 25-50% of the

[2019-01-13 21:45] shelby3 commented on #35
No. Type-class bounds need to be on the union type, not on individual members of the union. The entire point the type-class function bounds is to provide an interface that can be called on the input argument type. We can’t call such an interface it is only supports one of the members of the union, because the value passed in might be the other member. Remember we are not wanting the anti-pattern o

[2019-01-13 22:04] shelby3 commented on #35
@keean The type `U \/ V` (aka `U | V`) is by definition always disjoint because there is no structural typing of records (in the case where `U` and `V` are records). Thus even records that contain overlapping field names are still disjoint because the field names are in separate namespaces (of their record type name).

I think you mean instead `requires HasOnlyField U int, HasOnlyField V string` t

[2019-01-13 23:10] keean commented on #35
@shelby3

U and V are polymorphic so there could be any record in them that meets the requirements. As the requirements are `HasField U int`, U can be any record that has an integer property, this is how polymorphic type systems work.

So the point is , when we assign a record `{a:int, b:string}` to `T` it actually satisfies _both_ requirements, and so is not disjoint. This is exactly the same as

[2019-01-14 16:52] shelby3 commented on #35
`{a:int, b:string} \/ {a:int, b:string}` is easily reduced to the non-disjoint `{a:int, b:string}`. Any generic case-switch (i.e. not using type-classes) such as the original motivating Pony example can have a check for the types `U` and `V` being equivalent (because they can’t otherwise overlap given the requirement for a distributive lattice as defined in the MLsub paper), so that the case-switc

[2019-01-14 18:15] keean commented on #35
@shelby3

In which case you do not need the union at all, because you can just have a single polymorphic type `T requires Whatever T`.

Of course there is, its exactly the same situation, given:
[code]
If we pass `{a:int, b:string}` then it would be both `U` and `V` which means the union is non-disjoint.

If you want a more semantic definition, the problem is when we pass `{a:int, b:string}` into

[2019-01-16 18:36] sighoya commented on #35
There are two remarkable blog posts outlining the maturity, complexity and issues of Rust's lifetime management.

[Understanding Rust Lifetimes](https://medium.com/nearprotocol/understanding-rust-lifetimes-e813bcd405fa)
[Things Rust doesn’t let you do](https://medium.com/@GolDDranks/things-rust-doesnt-let-you-do-draft-f596a3c740a5)

The latter post is very long but proposes new solutions not imple

[2019-01-16 18:57] keean commented on #35
@sighoya I quite like this GC method: http://www.logarithmic.net/pfh/blog/01184061815

This is effectively reference counting, but there is less contention on the ring pointer than the counter.

I still think there is a use for linear types, as that would guarantee only one reference exists to a mutable object, which could just be a plain C pointer. So I see linearity as an optimisation, where if

[2019-01-17 13:56] shelby3 commented on #35
I am stating the unions are in the type system not in the type-class system.

In other words, it is still allowed to pass a union type for the generic type `T`.

Again you’re proposing to (redundantly!) model union types in the type-class system, which I have stated is not the purpose of type-classes. You’re proposing to not maintain orthogonality (separation-of-concerns) between the purpose and f

[2019-01-17 14:19] shelby3 commented on #35
@keean wrote:

I don’t. Will never be as efficient as tracing collectors because it doesn’t amortize costs. And it can’t collect cyclic reference graphs.

Pony has already solved the “stop the world” multicore scaling problem with tracing GC (but not the realtime issue).

It’s not that simple. Proving linearity carries baggage, e.g. Rust requires it be a total ordering and thus used by all code.

[2019-01-17 15:25] keean commented on #35
@shelby3
Here is also a sound way to allow both kinds of subtyping and maintain encapsulation, and that is to remember that with unions we tag with the type, so we can use something like the 'first match rule's from Prolog. So given:
[code]
If we pass it `{a:int b:string}` then we store the complete object (no coercing) and we test it to see if it is a subtype of each element in the union going le

[2019-01-26 17:41] NodixBlockchain commented on #8
I thought about all this, and i think i'm exploring what i think come close to a good system.

When looking at OOP one of the thing that makes it confusing, is that class can be both equivalent to implementation of an interface, and used to encapsulate a context of execution for those 'methods'.

If the concept of 'class' in OOP is replaced by modules, and the functions definition in the modules f

[2019-01-29 20:11] LBacchiani opened #47 "generate assembler code for higher-order functions"
I have to create a compilare for a fool Language where functions can be passed as parameters. I have these instructions to create assembler code:

`grammar SVM;

@header {
import java.util.HashMap;
}

@lexer::members {
int lexicalErrors=0;
}

@parser::members {

    int[] code = new int[ExecuteVM.CODESIZE];
    private int i = 0;
    private HashMap<String,Integer> labelAdd = new HashMap<String,In

[2019-02-02 17:21] sighoya commented on #8
@NodixBlockchain wrote:

That wouldn't be a contradiction, though, but I know what you mean...
As @keean said, they conflate value level and type level with each other, i.e. methods as values are bundled together with field signatures which can be seen as types.
In return, are fields and methods members of a class?
If yes, why are fields instantiated by class instantiation while methods are not?
I

[2019-02-02 17:24] sighoya commented on #33
Regarding the scaping problem is this a viable option?:

[2019-02-10 14:00] NodixBlockchain commented on #8
The way i see it, it would not be very far from the way it's done with c++ and virtual function table, if the linking is done like visual studio with an imported function table, it could become very close to virtual method of OOP.

Type information can be included in the linking information, it doesn't have to be only matching a symbol name with an address, this lack in the standard ABI in elf or

[2019-02-10 17:06] sighoya commented on #8
@NodixBlockchain wrote:

Afaics, the interface mechanism is much like or the same? as transmitting a vtable additional to a(n) module/object, so I tend to agree, here.

You mean the lack in the C++ Standard ABI because you can insert a new section into elf's section list to encode type information.

Probably, the inspection of the underlying type behind an interface type can be considered as a lim

[2019-04-26 04:59] pastafood10 commented on #47
binary inside the parenthesis

[2019-06-23 08:34] shelby3 commented on #38
@keean I thought you might find the choice of ADA [to fix “open sores”](http://www.loper-os.org/?p=1913) worthy of mention here in our discussions.

[2019-10-15 14:52] sighoya commented on #30
@keean
@shelby3
@Ichoran
@NodixBlockchain

It seems that many people trying to adopt to a new language requesting some inheritance mechanism (code sharing instead of chronic copying).
In fact, it is the main argument against trait based solutions, but it don't have to be.

Here is an example to overcome this limitation:

[code]
It is a little bit bloated due to missing support to convert a trait o

[2019-10-15 15:45] keean commented on #30
@sighoya maybe I misunderstand, but I think the point is not inheritance. Genetics give code re-use through generalised algorithms. In the same way traits/type-classes provide specialisation by selecting the relevant implementation.

[2019-10-15 15:46] keean commented on #30
@sighoya maybe I misunderstand, but I think the point is not inheritance. Genetics give code re-use through generalised algorithms. In the same way traits/type-classes provide specialisation by selecting the relevant implementation.

[2019-10-15 16:03] sighoya commented on #30
@keean wrote:

This point represents one of the most critics type classes usually incur. But it is wrong as I've shown.

Yes, to some kind, if the operations we need can be bundled into one function. But inheritance tries to reuse functions with different names from different places. One form of inheritance is importing entities from other modules, another is OO inheritance providing a bundled imp

[2019-12-03 10:11] sighoya commented on #35
[Planning for a Rust-based PL in the Microsoft Universe](https://www.zdnet.com/article/microsoft-were-creating-a-new-rust-based-programming-language-for-secure-coding)

[2019-12-03 11:30] keean commented on #35
@sighoya From what I have read, I like the idea of ownership being per group of objects, rather than per object. This appears to be one of the principal differences between Rust and Verona. Verona's memory management sounds a lot like Arena based memory management.

However, Rust has other problems like unsoundness in Pin: https://internals.rust-lang.org/t/unsoundness-in-pin/11311 which unfortunat

[2019-12-09 20:07] sighoya commented on #35
[A mix of reference counting and borrowing](http://aardappel.github.io/lobster/memory_management.html)

[2020-05-17 10:49] shelby3 commented on #17
Discussion from Quora that began in 2018…

I [replied](https://www.quora.com/Why-is-Mozilla-developing-the-Rust-language-and-what-are-the-problem-areas-for-which-it-is-better-suited-than-conventional-languages-How-does-it-compare-to-other-system-languages/answer/Nathan-F-Yospe/comment/140663065) today:

[2020-05-18 21:54] shelby3 commented on #32
## To Share With Lifetimes, or Not Share At All?

An idea occurred to me while re-reading the [Sharing doesn’t scale](https://gitlab.com/shelby/Zer0/-/issues/11#sharing-doesnt-scale) section of the **_Message-based concurrency (and parallelism)_** document I wrote on November 28, 2018.

I’ll quote the salient bit:

I’ll quote the relevant bit from the “[is inefficient](https://github.com/keean/zen

[2020-05-18 22:54] shelby3 commented on #17
[To Share With Lifetimes, or Not Share At All?](https://github.com/keean/zenscript/issues/32#issuecomment-630455062)

[2020-05-18 22:54] shelby3 commented on #41
[To Share With Lifetimes, or Not Share At All?](https://github.com/keean/zenscript/issues/32#issuecomment-630455062)

[2020-05-21 20:52] shelby3 commented on #32
Perhaps the correct answer is literally “do not share” — send messages instead. Sharing presumes cache coherence, whereas a future of Infinity Fabric essentially the data has to be copied anyway to the destination message queue.  I seem to remember @keean proposing this approach in past discussions. Here’s some ideas:

1. Eliminate the unnecessary complexity, tsuris of Pony’s reference capabilitie

[2020-05-22 11:44] shelby3 commented on #32
Perhaps the correct answer is literally “do not share” — send messages instead. Sharing presumes cache coherence, whereas a future of massively multi-cored with Infinity Fabric interconnects (or some of the more [esoteric massively multi-core processors](https://github.com/keean/zenscript/issues/41#issuecomment-453732948), c.f. [also](https://github.com/keean/zenscript/issues/41#issuecomment-40758

[2020-05-22 18:32] shelby3 commented on #17
@keean brought to my attention the blog post [**`async`/`await` is the wrong abstraction**](https://blog.logrocket.com/async-await-is-the-wrong-abstraction/), which makes the correct point that the `async`/`await` model provides no access to a cancel operation.

However, I posit that cancellation can be added to  `async`/`await` by [extending](https://valencik.com/blog/extending-promise/) `Promise

[2020-05-23 21:59] shelby3 commented on #35
@sighoya wrote:

That’s just the prior art ‘escape analysis’, with the planned (unimplemented) ability to ask for a compiler error if escape analysis fails on a per-variable basis.

@keean wrote:

I [refined](https://github.com/keean/zenscript/issues/32#issuecomment-632650011) my idea for bump-pointer heap GC that super efficiently (bump-pointer allocates and then) deallocates all non-persistent o

[2020-06-10 04:59] shelby3 commented on #39
I [wrote](https://github.com/keean/zenscript/issues/39#issuecomment-413640046):

I [wrote](https://github.com/keean/zenscript/issues/39#issuecomment-417429761):

I’ll re-summarize the issues in one place to make this easier to digest and come back to.

1. http://blog.ezyang.com/2014/07/type-classes-confluence-coherence-global-uniqueness/

   Global uniqueness of type class instances [is required](

[2020-06-10 10:26] shelby3 commented on #39
# Late Binding of Interface vs. Modularity?

I [wrote](https://github.com/keean/zenscript/issues/39#issuecomment-413640046):

I [wrote](https://github.com/keean/zenscript/issues/39#issuecomment-417429761):

I’ll re-summarize the issues in one place to make this easier to digest and come back to.

1. [_Type classes: confluence, coherence and global uniqueness_](http://blog.ezyang.com/2014/07/type-c

[2020-06-13 11:55] shelby3 commented on #30
(‘class inheritance’ was the reason the [term _defect attractor_ was coined](https://github.com/vlang/v/issues/3814#issuecomment-693123486))

I’m following up on some discussion from late 2018 that unfortunately I was not able to really focus on due to the dementia and other drama that was going on in my life. Towards the end of 2018 I was very distracted (being in a clusterfucked third world coun

[2020-06-13 19:44] Ichoran commented on #30
@shelby3 - Rather than responding point-by-point, I will just make the observation that there is practically nothing that you can do with OOP (automatically) that you can't do with typeclasses plus lambdas (manually).

My arguments for the advantages of OOP in some situations are _only_ matters of convenience.  OOP is quite helpful syntactic sugar in many cases.  In other cases it complicates solu

[2020-06-13 20:58] keean commented on #30
@Ichoran I think "objects" are great for modeling systems, and encapsulating functionality. Subtyping causes problems because it introduces covariance and contravariance. My preference at the moment is for invariance with typeclasses (which behave like nominal interfaces). This is great as long as you only want "static" compile time polymorphism. The problem then comes with how to deal with dynami

[2020-06-13 21:14] Ichoran commented on #30
@keean - I am reasonably comfortable with covariance and contravariance as truths about constraints on language constructs that save you a lot of time.  It's straightforward to get dynamic runtime polymorphism: you associate a collection of lambdas with an object, usually via a tag ("pointer") to the appropriate set of lambdas ("method table").

That is, you create a vtable.

So, sure, you can do

[2020-06-13 21:49] keean commented on #30
@Ichoran I agree, covariance and contravariance are truths about subtyping, but is it really the simplest way to achieve the goal?

You don't manually create a vtable with typeclasses. In a "class" based system the vtable is associated with the objects class, something that is associated with an instance by a memory pointer. Here "class" is a kind of substitute for "type" with subtly different sem

[2020-06-13 22:37] shelby3 commented on #3
Here is a short audio clip of a female voice pronouncing the word:

https://en.wiktionary.org/wiki/task#Etymology_1

Let’s compare to the recent popular programming language names:

https://www.tiobe.com/tiobe-index/

[code]

`Task` is 4 characters short, one syllable and it speaks directly to the main, novel USP invention that I will be introducing to the market, which is a new way of handling co

[2020-06-13 23:54] Ichoran commented on #30
@keean - I think Rust shows that you can get a lot done with typeclasses, and that the performance can be very good.

Rust has the same type of template expansion problems that C++ has because of exact types.  `dyn` traits help.

Overall, though, I still prefer solving complex problems in Scala than in Rust.  The main reason is not Scala's higher-kinded types, though that's part of it.  The main t

[2020-06-14 00:03] shelby3 commented on #30
Guys please kindly note the edit I inserted into my prior post. I had intended to add that before sleeping but couldn’t keep my forehead off the keyboard. I will delete this post. Please cite from the original post if you reply...

I believe that @Ichoran may be referring to a type inference issue that’s amplified by overuse of genericity. I added the following up-thread recently.

@shelby3 [wrote

[2020-06-14 00:11] shelby3 commented on #30
@jdh30, @keean, @sighoya, @Ichoran

Since we have a discussion going on, I will ping recent contributors to invite them to go to the [naming thread](https://github.com/keean/zenscript/issues/3#issuecomment-643686792) and give feedback on my idea for the name `Task` for the PL I am possibly finally going to follow through on launching. I will delete this post also, so please don’t reply to it. Plea

[2020-06-14 00:54] shelby3 commented on #30
@Ichoran and @keean note the up-thread edit. I will delete this post.

https://github.com/keean/zenscript/issues/30#issuecomment-421532640

[2020-06-14 03:06] shelby3 commented on #30
@Ichoran is citing Scala’s collections as an example of what OOP can do very well. I’d like to inject into our discussion [my answer](https://stackoverflow.com/questions/1722726/is-the-scala-2-8-collections-library-a-case-of-the-longest-suicide-note-in-hist/7397388#7397388) to the question [**_Is the Scala 2.8 collections library a case of “the longest suicide note in history”?_**](https://stackov

[2020-06-14 04:19] shelby3 commented on #30
@Ichoran wrote:

Why the claimed dichotomy about automation? With type classes same as for base class/interface with OOP, the interface is declared once optionally with some default implementations and then instances overload the implementations they wish to. I see no distinction between automation of the programming process nor amount of boilerplate. Is it Scala’s weak type class capability that

[2020-06-14 04:50] Ichoran commented on #30
@shelby3 - Sure, here's a code example.  It's Scala-like notation since I have the best chance of not messing up too badly (this isn't compiled).  (So `[A]` is a generic type parameter `A`, and `<:` means "must be a subclass of".)

[code]

Now we want to use it.

[code]

Super-easy usage--everything just works.  Implementation is straightforward, without a great deal of ceremony.

If you try to do

[2020-06-14 05:48] shelby3 commented on #30
Note the unfortunate up-thread edit, and I will delete this post.

[2020-06-14 06:19] shelby3 commented on #30
I also insert this up-thread:

[2020-06-14 07:01] shelby3 commented on #30
@Ichoran wrote:

Ah as I suspected you’re comparing OOP in Scala to type classes without non-disjoint, structural unions (e.g. in your example `Arrayed | InFile | Empty` aka `Arrayed ∨ InFile ∨ Empty`) which are not available in Haskell either but are coming in Scala 3 and are available in TypeScript (and Ceylon).

If I create a PL with type classes it will have the necessary runtime dispatch via

[2020-06-14 07:04] keean commented on #30
@Ichoran I don't really like Scala, it's an example of of the complex type system I was referring to, it has a lot of traps.

In this example it looks to me that InFile extends Resource[String], which is itself an interable collection of in this case "Strings". All this is statically known, so I don't see any need for virtual dispatch. This example should work almost exactly the same with type-cla

[2020-06-14 07:11] shelby3 commented on #30
@keean refresh the page. I was posting about 3 minutes before you did while you were composing your post.

[2020-06-14 07:37] shelby3 commented on #30
@keean [wrote](https://github.com/keean/zenscript/issues/30#issuecomment-643682700):

Which as you originally pointed out is why the GopherJS Go-to-JavaScript compiler can’t determine which classes are safe to exclude from the output (because the access to RTTI is not known at statically compile-time) so thus bloated JavaScript output. Whereas, Scala (and Java) erase generics instead of reificatio

[2020-06-14 08:21] shelby3 commented on #30
Refresh please for the edits.

[2020-06-14 08:46] keean commented on #30
@shelby3 said

Okay I missed this because it's irrelevant :-) Obviously the types in this list are completely statically determined, so typeclasses and parametric polymorphism would cope with this perfectly well, as demonstrated by the HList paper, although the type-system stuff in Haskell looks complex, it is all mechanical boilerplate, and could be auto-generated, or completely eliminated by the

[2020-06-14 10:15] keean commented on #30
id f = f

This function would normally have the type:

forall a . a -> a

In a functional language. If instead we create a new type for the function, let's have a special Kind for functions to avoid name clashes with data, and we can have a standard built in typeclass for "Runnable", we can effectively have the compiler perform the following mechanical transformation:

data id = id
instance Runnab

[2020-06-14 12:08] shelby3 commented on #30
Anyone who might be offended by my comments about the origins of Rust, note I added a footnote upthread which elaborates. I will delete this post.

[2020-06-14 12:39] shelby3 commented on #30
@Ichoran I don’t want this to be an echo chamber, so I put a heart on your post because I do appreciate your role as an opposing viewpoint. Because I don’t want to fall into my own confirmation bias if I can avoid it.

The reason I re-read the 150+ comments in this entire issues thread yesterday and assimilated all the link trails is because I wanted to bring up a different design point about PLs

[2020-06-14 13:32] keean commented on #30
@shelby3 pattern matching is really just a more powerful switch/case construct (with destructuring). If there are still uses for regular expressions, and switch/case, then there are still uses for pattern matching.

The anti-pattern is when pattern matching is used to replace dynamic dispatch.

Still what is the difference between say parsing a text file, which seems a legitimate use of regular ex

[2020-06-14 14:17] shelby3 commented on #30
@keean wrote:

Are there any? Type classes can replace switch-case if all the cases are types.

Which may be all the use cases if everything is a type.

That’s my response herein.

Good point. Those are values and not types.

Or everything is a type, so then no need for pattern matching either?

EDIT: Or instead perhaps only pattern matching and destructuring allowed on values. So disjoint union v

[2020-06-14 14:31] keean commented on #30
@shelby3 you still want switch/case statements to simplify long if/then/else blocks when parsing or decoding values. Perhaps you don't need classical destructuring pattern matching, but switch-case statements with regex labels would be nice, IE pattern matching on _values_ not matching on types (for which you should use typeclasses).

[2020-06-14 14:31] shelby3 commented on #30
@keean refresh.

[2020-06-14 14:36] shelby3 commented on #30
@keean I had added to the end of my prior post:

[2020-06-14 14:42] shelby3 commented on #30
I also added:

[2020-06-14 17:12] sighoya commented on #3
It's a matter of taste and subjective feelings.

Zero is more useful as a preview name for your language. But it is also acceptable beside being a bit ambiguous about its meaning.
Is your language a new era of PL design, then it might sound a bit arrogant.
Or is the value of your language == Zero? This would be a commitment for opponents to criticize your language.

Task in my eyes is too common w

[2020-06-14 17:29] sighoya commented on #30
Just in short:

In case of a bounded amount of Resource[A] types:
Would be covered by non-disjoint union types. I think we don't need **here** typeclasses + parametric polymorphism at all.

In case of an unbounded of Resources[A] types:
When open existentials are no option, I could only imagine the use of higher ranked polymorphism to handle open existentialism.

Pattern Matching:

If you can enco

[2020-06-14 20:06] keean commented on #30
@sighoya pattern matching becomes replaced by instance selection for typeclasses.

[2020-06-14 20:40] andrewcmyers commented on #30
For some examples of more powerful ways to integrate pattern matching into OO languages, without breaking data abstraction in the way that functional pattern matching typically does, see [PredJ](https://dl.acm.org/doi/abs/10.1145/1035292.1029006) and [JMatch](https://www.cs.cornell.edu/Projects/jmatch/).

[2020-06-14 20:55] Ichoran commented on #30
@shelby3 - Pattern matching (at runtime) and dynamic dispatch are roughly isomorphic.  They have basically the same advantages and the same disadvantages, save that dynamic dispatch makes creating new data structures easy (because the dispatch logic all is in the class) while pattern matching makes new methods easy (because all the logic is in one place).

So it doesn't make much sense to me to sa

[2020-06-14 22:43] keean commented on #30
@Ichoran the vtable pointer _is_ a runtime check :-)

In any case separate compilation is not a problem. Modules include type-class requirements as part of the IDL for the language. Static or dynamic linking must satisfy the constraints for success. For example a module may provide a generic "print" function that requires the type of any data passed has an implementation of the "ToString" typeclas

[2020-06-14 23:40] shelby3 commented on #30
Off-topic (sign of the times):

Yeah I was also thinking back to the New Wave music trend of my youth.

Hey I wasn’t making a comment about any individual person and I’m 100% against suppression of individual expression and the financing of it (either the expression or the suppression) with other people’s money, [instead about a group ideology](http://trilema.com/2015/what-amused-me-today/) which

[2020-06-14 23:56] Ichoran commented on #30
@keean - Do you envision using the Rust trait rules for where typeclasses can be defined?

This is actually a major headache in my usage of Rust.  You can't `impl T for S` unless your module defines either `T` or `S`.

The reasons are sound--because typeclasses are supposed to be unique, if you _do_ allow `impl T for S` outside of either declaration, you could do it in two different places (separa

[2020-06-14 23:59] Ichoran commented on #30
@shelby3 - I'm not sure why you're posting political / social opinions in an issue on typeclasses and programming language design.  It doesn't seem particularly relevant and such discussions tend to offend a subset of people with differing views.  Seems like 100% downside and 0% upside to me.

[2020-06-15 00:09] shelby3 commented on #30
Off-topic again. Hopefully last.

I’m providing context for my comments about Rust. It’s not possible to make a terse statement without being misunderstood.

I remember first reading about Rust way back maybe it was 2010 or so. They were contemplating some design with assertion of invariants on the entrance and exit from methods of an object. I wrote a public post explaining why that was unsound a

[2020-06-15 01:43] shelby3 commented on #30
@keean

I think the edit in my prior technical comment addressed your reply. Seems that pattern matching and destructuring should apply to values not types. Scala enables `match-case` on types which I think is an anti-pattern given the ability to replace that manual encoding of “dynamic dispatch” with an implicit type class requirement (aka bound) on function definitions, which the compiler will a

[2020-06-15 02:23] shelby3 commented on #30
Edward Z. Yang [refers](http://blog.ezyang.com/2014/09/open-type-families-are-not-modular/) to those defined outside the module where the data types or type classes were defined as _ragamuffin instances_. He also proposed an algorithm for dealing with them, so that the requirement Rust makes could hypothetically be relaxed (if not in Rust for some reason, perhaps in another PL with typeclasses).

[2020-06-15 03:07] andrewcmyers commented on #30
This is a problem that is solved by [Genus](https://www.cs.cornell.edu/Projects/genus), which allows you to have as many type-class instances as you like, though when there are multiple instances, you have to be explicit about which one you mean.

[2020-06-15 04:09] shelby3 commented on #30
In any strategy it seems it will distill down to how explicit the programmers want to be. At least it doesn’t have to be an all or none choice as with contrasting ML vs. Haskell. We should probably take the time to study more carefully Genus’s design.

I [wrote](https://github.com/keean/zenscript/issues/39#issuecomment-641910322) a few days ago:

[2020-06-15 04:11] keean commented on #30
@Ichoran I would very much hope to avoid having a rule restricting where instances can be declared. I am of the view that libraries should contain algorithms, and typeclasses are declared based on those algorithms. Therefore to use a library will largely involve writing the necessary type class instances for types either in your own code (which rust allows) or types from other libraries (which rus

[2020-06-15 04:30] shelby3 commented on #30
@shelby3 wrote (replying to myself):

I remembered some of the details. I believe it was an issue for Pony. The two `case`s were non-disjoint due to subtyping and the implicit presumption that type parameters `A` and `B` did not have a common supertype. Thus I guess a necessary rule for the compiler in any PL that has subtyping that it can’t allow `case`s which are differentiated only by type para

[2020-06-15 05:04] shelby3 commented on #30
@keean

Global coherence is impractical for the compiler to prove and enforce. There are several subtle issues. Please read my [recent post](https://github.com/keean/zenscript/issues/39#issuecomment-641910322) I have linked a few times already in the past 2 days.

That’s why I [proposed](https://github.com/keean/zenscript/issues/39#issuecomment-641910322) partial orders wherein within each partial

[2020-06-15 05:47] shelby3 commented on #30
@andrewcmyers

Apologies to ask you for extra effort, but is it possible to elucidate the significance (beyond just being some syntax sugar) and essential concept for JMatch without myself needing to try to figure out how balancing red, black trees, CPS, interation, ADT, forward and backward model abstractions, etc all play together to offer something new and important? I suppose this somehow inte

[2020-06-15 11:17] Ichoran commented on #30
I can understand valuing technical contributions on their merits.  Gleefully pushing away potential contributors, and therefore contributions, on the basis of irrelevant factors (i.e. positions you hold on matters unrelated to programming) is no way to run a major undertaking, which creating a programming language is.

Good luck creating your language, for you.  I'm out.

[2020-06-15 12:11] keean commented on #30
@Ichoran I don't really want irrelevant comments to distract from what I am trying to do here. These comments are attached to my language project, which although shares some goals with @shelby3, is not the same project. I appreciate @shelby3's contributions, but I can delete the offending comments if that's helpful, as they are not on-topic, and I very much appreciate getting other viewpoints.

[2020-06-15 12:34] NodixBlockchain opened #48 "Chemlambda, graph theory etc"
Hello Guy, ive been doing lot of expetimentation lately on parsers, grammar and graph theory, and started to dig the relationship between graph theory and computation theory.

Deep down, all those algorithm of parser combinators, ll/lr parser etc seem to always come down to a tree representation, and i started to dig the relationship between graph theory and computation model.

Just yesterday i fo

[2020-06-15 12:45] shelby3 commented on #30
@keean if you censor any of my comments, I am out. In all three of the comments above where I expressed comments about the history of Mozilla, I also make some technical comments about Rust and/or the technical history of Rust. If you delete that, you will destroy my production. There is nothing that makes me more furious than people who erase my work from centralized repositories — which are not

[2020-06-15 13:24] keean commented on #30
@shelby3 I don't think it was your comments about Mozilla or committee design which caused a problem, they are at least related to the topic. I suspect it was your comments about "hoax virus" and socialists that were the problem, although I cannot speak for @Ichoran to be certain. You know I disagree with your views on the virus, but I don't want to discuss that here, so it seems a shame to lose a

[2020-06-15 13:29] shelby3 commented on #30
@keean in that comment you refer to, I also wrote:

Then I am responding to his assertion that I should be afraid to offend socialists. He raised the point of challenging whether my comments were relevant and I answered.

And so I mentioned the current destruction of the global economy underway by socialists. Is that not obvious to us all the global economy is being obliterated. And I agree I do n

[2020-06-15 13:39] keean commented on #30
@shelby3 You can be not afraid to offend socialists, and I agree that analysing the reasons some projects fail could be relevant, although probably better in a project management topic. However I think you are going too far in shifting this towards a discussion of the virus, or economics. The danger is other people with differing views will start to engage on these topics, and the actual PL stuff

[2020-06-15 13:49] shelby3 commented on #30
@keean I removed the offending text and inserted the following:

[2020-06-15 14:19] shelby3 commented on #30
I inserted an edit. I will delete this notification.

[2020-06-15 21:37] Ichoran commented on #30
@keean - I am concerned with the attitude that one has to accept a particular (abrasive or indifferent) mindset in order to be a welcome contributor.  @shelby3 edited out some particularly strongly-worded off-topic stuff (that some people may have found offensive) but _not_, critically, the attitude that dismisses working with people who dislike said stuff.

However, I accept that this isn't a per

[2020-06-15 23:19] Ichoran commented on #30
@keean - I'm not familiar with Agda's implicit typeclass scheme, but Scala does it this way also--if you want to use a different ordering, you just pass in a different `Ord` (actually, `Ordering` in Scala).  In Scala 2, this capability introduced an unpleasant ambiguity in parsing because neither you nor the compiler could straightforwardly tell whether an argument was filling in an implicit typec

[2020-06-16 02:15] shelby3 commented on #30
@Ichoran I have no way to message you privately, so I will just have to put this in public. I want you to know that I appreciate very much your interaction and the contribution you have made to the brainstorming process in the various issues threads here.

I am tolerant of your criticism. No harm. Nothing significant was censored. I understand your viewpoint that you would prefer to have a purely

[2020-06-16 02:33] shelby3 commented on #30
Added:

EDIT: I learned from when I created WordUp in the late 1980s which garnished ~30% marketshare of the AtariST word processor market and CoolPage(.com) in the late 1990s that garnished ~1% share of the entire Internet by the turn of the century, that building community is about making things easy-to-use. And since then with my involvement in the cryptocurrency ecosystem I have learned that e

[2020-06-16 02:35] Ichoran commented on #30
@shelby3 - Organizational culture can be discussed on an issue devoted to such. I think such conversations are beneficial for a project if conducted calmly and with evidence or at least careful argumentation to back up all points.

[2020-06-16 02:52] shelby3 commented on #30
One more edit:

[2020-06-16 03:12] shelby3 commented on #30
One more edit:

[2020-06-16 03:16] shelby3 commented on #30
Add:

[2020-06-16 03:25] shelby3 commented on #30
Last edit:

[2020-06-16 03:46] shelby3 commented on #30
@shelby wrote (replying to myself again):

The paradigm was Typestate. Here’s some links I found about that history:

* https://readwrite.com/2010/11/29/mozilla-designing-programming-language-rust/
* http://cliffle.com/blog/rust-typestate/
* http://lambda-the-ultimate.org/node/4009
   (links the original research on Typestate which I was unaware of)
* https://news.ycombinator.com/item?id=1498528
*

[2020-06-16 04:05] shelby3 commented on #30
Added some technological commentary:

[2020-06-16 04:09] shelby3 commented on #30
Apologies many typos because I have photophobia and double-vision right now because I am taking 1500 mg daily of Artemisinin for anti-tumor and anti-pathogen. I am tired of just laying the bed. Want to work but I can not read well what I am typing.

[2020-06-16 04:50] shelby3 commented on #30
Whoops I just read @Ichoran’s post from today and that needs a reply:

[2020-06-16 05:51] shelby3 commented on #30
@Ichoran

An essential fault appears to remain in Scala 3’s implementation of type classes. That is AFAIK the implicit resolution is not _transitively_ turtles down the call hierarchical according to the function hierarchy? So you can apparently end up with inconsistent implicits in the call hierarchy if you inject an instance as an argument but some place else in the call hierarchy an implicit is

[2020-06-16 06:17] shelby3 commented on #30
Numerous upthread edits including but not limited to:

[2020-06-16 07:01] shelby3 commented on #30
Added:

[2020-06-16 07:08] keean commented on #30
@shelby3 Rust is doing okay, it's the most loved programming language: https://appetiser.com.au/blog/the-most-loved-and-hated-programming-languages-according-to-developers

[2020-06-16 08:05] shelby3 commented on #30
@keean

Don’t believe everything you read. Note Scala was one of the most disliked PLs on their survey. Python and TypeScript seem to have the highest combined rankings of Most Popular and Most Loved, which concurs with the PL design I want to create (combining syntax features of Python and transpiling to TypeScript). Go and Swift are in the next tier for both Most Popular and Most Loved.

(Also i

[2020-06-16 08:47] shelby3 commented on #30
**EDIT**: Perhaps the most important insight I learned from the following endeavor was that Microsoft schemed to keep JavaScript as limited as possible so that it would not complete with C# and .Net. And even to this day [the marching orders](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals) for TypeScript is that it is only [_“a syntactic sugar for JavaScript”_](https://github

[2020-06-16 09:19] shelby3 commented on #30
I added:

[2020-06-16 11:18] sighoya commented on #30
@shelby3 wrote:

The problem with C++ is that it eats anything what smells like a feature.

[2020-06-16 11:20] shelby3 commented on #30
I added to my long post after reading that 125 page history of JavaScript:

[2020-06-16 13:45] shelby3 commented on #30
[Does anyone really like teamwork? Gavin McInnes at TEDxBrooklyn](https://youtu.be/6fUhMIzvpQk?t=319) ← funny

[…]

**Note he did not mention mutual defense. That requires teamwork and is essential to surviving periodic societalcide.**

[2020-06-17 01:39] shelby3 commented on #30
@sighoya wrote:

Yeah but I think my point remains. They add those features for low-level performance optimizations or high-level programming capabilities, because they want to be both a low-level performant and a high-level PL.

I know you all know the following but I will explain for other future readers.

Yet attempting to be both makes it more complex to excel at either end of the spectrum.

F

[2020-06-17 02:39] shelby3 commented on #30
I added:

[2020-06-17 09:33] shelby3 commented on #3
@sighoya

Agreed that the name will reflect the taste and style of the person who is making the naming decision. And hopefully should reflect the culture of the users who will be drawn to the PL.

`Go` reflects the ease of programming with Go’s goroutines (i.e. green threads) for massive concurrency. (That is until they hit the pain points of no generics and no data race safety paradigm).

It was

[2020-06-17 09:51] shelby3 commented on #30
Added more of my very opinionated ranting (might as well just vent while this is all fresh in my mind):

[2020-06-17 21:40] sighoya commented on #35
New [Golang Draft](https://go.googlesource.com/proposal/+/refs/heads/master/design/go2draft-type-parameters.md) about Generics
Main points:
- Interfaces instead of contracts
- bounded parametric polymorphism

For the first, contracts were dropped and interfaces take the place instead. Don't know if they support multiple parameter typeclass bounds.
For the latter, the finite amount of supported typ

[2020-06-17 22:38] keean commented on #35
@sighoya I think the new Golang proposal is an improvement, there was always a big overlap between interfaces and contracts. I don't really like the approach to bounding as common bounds are things like Array<T> etc. I think I have seen multi-parameter bounds.

I think where I see things differently, is I would want support for operator overloading, especially if typeclasses are going to provide t

[2020-06-18 06:54] shelby3 commented on #30
@andrewcmyers

Looking at this with a clearer mind and more sleep and ignoring the white paper and focusing solely on the code examples on the JMatch homepage:

1. AFAICS the _“Containment predicate is also a tree iterator”_ unification of `contains` and iteration of contained can be abstracted with an interface that provides a new iterator and a `findNext`. Thus `contains` instantiates a new iter

[2020-06-18 11:18] sighoya commented on #35
@keean wrote:

How would you do that? Serializing type class instances would always produces the corresponding typeclass siganture?

[2020-06-18 12:06] keean commented on #35
@sighoya typeclasses would not be data, because there would be no first class functions. Remember that typeclasses apply to types, so if we have an Addable Integer, the value you store is just an Integer.

[2020-06-18 12:58] sighoya commented on #35
@keean, so typeclasses and typeclass instances are hidden magic.

[2020-06-18 13:14] andrewcmyers commented on #30
I think you're getting the gist of it. Pattern matching can be viewed as a kind of reverse-mode computation in which values are deconstructed instead of constructed. JMatch allows any method to declare reverse modes that can be used to pattern-match (one or more times) against a set of arguments. What it means to match can be specified with a logical formula, so pattern-matching is not tied to the

[2020-06-18 14:17] keean commented on #35
@sighoya Are you suggesting that everything must be first-class? For example Haskell modules are not first-class, neither are ML modules.

[2020-06-18 14:34] keean commented on #35
@sighoya I suppose we end up with two kinds of types, data types and 'function types'? Obviously we need to type infer/check functions, but what we have is that variables/data can only contain data-types.

Given:
[code]
You can do:
[code]
`MyFunction` is the unit constructor for that datatype, and we can apply the `()` operator to values of that type.

[2020-06-18 14:49] sighoya commented on #35
@keean, so every function has it's own data type (which has the same name).
How informative is the serialization of a value of such data type?

[2020-06-18 15:39] keean commented on #35
@sighoya well that would be implementation dependent. But if we follow the model of choosing the semantics to keep the type system simple, then the 'concrete value' of a unit type would be a UUID of the type. If we know the type, we know the instances we can run on it. So we should be able to just run typeclass functions directly on deserialised data.

[2020-06-18 16:45] shelby3 commented on #48
https://www.discovermagazine.com/the-sciences/new-theory-of-everything-unites-quantum-mechanics-with-relativity-and-much

https://www.wired.com/story/stephen-wolfram-invites-you-to-solve-physics/

https://www.scientificamerican.com/article/physicists-criticize-stephen-wolframs-theory-of-everything/

https://gizmodo.com/the-trouble-with-stephen-wolfram-s-new-fundamental-theo-1842985419

https://www

[2020-06-18 17:15] keean commented on #35
@shelby3 I really only use node as a production tool. Deno is the new node: https://deno.land/

[2020-06-19 07:07] shelby3 commented on #35
Yeah Deno looks good and they end much of the chaos:

* All asynchronous functions returns a `Promise`.
* A set of standard approved library modules.
* Coherent holistic design (this is what happens when one, dedicated, talented individual takes the lead role and not designed-by-large-committee)
* Ships a single executable.
* One module format which is the ES6 standard.
* Circumvents the complexit

[2020-06-19 09:27] sighoya commented on #35
@shelby3 wrote:

https://deno.land/manual/tools/debugger

But haven't tested it.

[2020-06-19 09:56] NodixBlockchain commented on #48
hello :)

I found out as well it has a connection with physics, even if that was not what i was seeking in the first place.

I could talk to a good physicist who told it looked close to prigogine thermodynamics
https://en.wikipedia.org/wiki/Ilya_Prigogine

As i'm also quite into edelman and whiteheads it would not suprise me that there are connections in physics. I would just answer this [How is N

[2020-06-19 14:44] sighoya commented on #30
@keean, so your idea is likewise for records.
Records are datatypes and get bounded to fields over typeclasses:
[code]

All this kind of stuff can then be generated with normal record like syntactic sugar:
[code]

[2020-06-19 15:51] shelby3 commented on #30
The creator of Node.js has created Deno to correct the accumulated crud in Node.js. He remarks that Go is a more performant PL for a server but the JavaScript server still has some valid use cases (e.g. sand boxed):

https://youtu.be/M3BM9TB-8yA?t=174

[![](https://user-images.githubusercontent.com/247731/85167288-35dae880-b22e-11ea-9454-294595f48dc4.png)](https://youtu.be/M3BM9TB-8yA?t=174)

Ryan

[2020-06-19 17:46] shelby3 commented on #30
I added:

[2020-06-19 18:13] shelby3 commented on #30
I inserted:

[2020-06-19 18:40] shelby3 commented on #30
Inserted:

[2020-06-19 23:39] shelby3 commented on #30
“Uncle” Bob Martin points out in the “The Future of Programming” that the rate of increase of programmers is growing so fast that more than half of the programmers have less than 5 years experience and are young. Apparently the younger the programmers, the more heavily tilted towards males the programmer demographic is.

https://youtu.be/ecIWPzGEbFc?t=3055

[![](https://user-images.githubuserconte

[2020-06-20 01:56] Ichoran commented on #30
Despite @shelby3's accurate understanding of my technical points, which I appreciate, he's misunderstood my non-technical points almost without fail (e.g. mistaking the logical thoroughness of breaking down a situation into cases as an implicit accusation of the negative parts of each case).  I do want to clarify that I am an extremely strong proponent of freedom of expression, just not of having

[2020-06-20 05:33] shelby3 commented on #30
Inserted an edit upthread:

[2020-06-20 06:29] shelby3 commented on #35
@Ichoran [wrote](https://github.com/keean/zenscript/issues/30#issuecomment-646919805) in the Why Typeclasses? #30 thread (and I am continuing that tangential discussion over to this thread where it is more relevant and belongs to the general discussion of comparing PLs):

I also mentioned that upthread, but hence after learning about the reasons why Deno chose to avoid centralized repositories (c.

[2020-06-20 06:33] keean commented on #30
@Ichoran I have programmed in Rust, and I have published the iterator chapter from Stepanov's "Elements of Programming" translated to rust as best I can, here on GitHub.

Rust has some nice ideas, but fails in the execution for me. The borrow checker is ad-hoc, and has no systematic design, which means it misses obviously safe cases, and the work arounds add complexity to the language. The type sy

[2020-06-20 06:34] shelby3 commented on #30
@Ichoran and @keean I [have continued](https://github.com/keean/zenscript/issues/35#issuecomment-646950927) the tangential discussion about Rust in the WD-40 issues thread #35 where it belongs.

I rebutted or let’s say responded to @Ichoran in the aforelinked reply. EDIT: I also replied to @keean’s latest comment at the aforelinked.

[2020-06-20 06:56] shelby3 commented on #35
@keean [wrote](https://github.com/keean/zenscript/issues/30#issuecomment-646951291) (also in the Why Typeclasses? #30 issues thread which I am attempting to move that tangential discussion over to this WD-40 #35 issues thread where it is more relevant to past discussion):

Indeed and I think you’re taking that ‘ad hoc’ term from my lead as I made that point recently both in a private discussion wi

[2020-06-20 08:05] Ichoran commented on #35
@shelby3 - These technical points seem important enough to not ignore on principle.

I can't compare to actor-like partitions because I don't have an implementation, and I've found inadequate my ability to predict how I will like working with things and how they will perform based on description alone.

I can't remember all of the times Rust has made me catch potential bugs.  I'll give rough descr

[2020-06-20 10:41] shelby3 commented on #35
@Ichoran wrote:

Understood.

If the `HashMap` in `HashSet` needs to update when the key changes then it shouldn’t be accepting a non-immutable. In either case, I fail to see what is the bug Rust caught? If you intend to allow multiple concurrent writable references and do not intend for your code to be reentrant then there is no bug here AFAICS. Again my point of perspective is for single-threade

[2020-06-20 12:10] shelby3 commented on #35
I inserted:

[2020-06-20 12:35] shelby3 commented on #35
@sighoya [wrote](https://github.com/keean/zenscript/issues/35#issuecomment-646534578):

Initially I was confused by [this issue thread](https://github.com/denoland/deno/issues/4691) which links to [an issue](https://github.com/axetroy/vscode-deno/issues/111) that is a 404 non-existent page, and [its repository](https://github.com/axetroy/vscode-deno/) is deprecated and no longer maintained. Yet th

[2020-06-20 13:57] shelby3 commented on #35
I inserted:

[2020-06-20 14:06] sighoya commented on #35
@Ichoran wrote:

Did you mean `HashSet` instead of `HashMap`? Otherwise, I don't understand correctly your example.

Be aware that Rust realize the aforementioned points only by deliberately restricting their language. The most prominent point is use of single aliasing which at first isn't that performant in single threading mode and even doesn't overtrump multiple aliasing + locking in every situ

[2020-06-20 15:05] sighoya commented on #35
Edit: I added:

As a project manager I would fear the use of Rust in production for a [very good reason](https://m-decoster.github.io/2017/01/16/fighting-borrowchk/) and other reason as well.
But thats only my opinion. Also I woludn't recommend to use C++ in any production environment  of (middle) scale and that much more than Rust. Nonetheless, C++ is anyway used in productive software developmen

[2020-06-20 15:09] shelby3 commented on #35
Wow @sighoya  you elaborated in a way that I should have. Thank you for those additional points.

Well more than that I think once you start employing unsafe code then you kind of wonder why go through all the exclusive write borrowing in the first place if the likelihood of injecting unsafety is high.

Well also because of the unsoundness bugs they’re just now finding. And that even their concurr

[2020-06-20 15:51] shelby3 commented on #35
Refresh for numerous edits.

[2020-06-20 16:27] shelby3 commented on #35
Refresh again for numerous edits.

[2020-06-20 17:45] Ichoran commented on #35
(I edited my original post to fix my `HashMap` instead of `HashSet` mistake.)

Nope!  See, that's the brilliant thing.  After you move the key in, you can't touch it any more.  You can't mutate it, even if it was mutable.  Same data structure, no wasted copying.

Nope!  If I need to do other cleanup, I can wrap the `File` in a cleanup struct with a destructor (i.e. `impl Drop`).  Compiler takes ca

[2020-06-20 18:17] shelby3 commented on #35
@Ichoran

Again I repeat, “…then it shouldn’t be accepting a non-immutable.”

That’s why I have exclusive reference capabilities in my tentative grammar for Task. Which can then be consumed into an immutable to feed for example a `HashSet`. The distinction is these reference capabilities don’t require the tsuris and inflexibility of a monolithic total ordering for everything in the entire program

[2020-06-20 18:47] shelby3 commented on #35
Added:

[2020-06-20 19:15] shelby3 commented on #35
I inserted:

[2020-06-20 19:25] keean commented on #35
@shelby3 automated destructors based on scope (RAII idiom) are very useful for resource management for all sorts of resources, not just memory. This favours a reference counting approach like Apple use in objective-c and Swift.

In some way procedures are better than functions, if you return values by mutating containers passed as arguments, you a can use stack allocation (or at least stack contro

[2020-06-20 19:29] Ichoran commented on #35
If you can do ownership better than Rust does, that's great.  I can't try what doesn't exist, though.  My point was that Rust sets a new standard.

Also, I find RAII extremely convenient and very effective at preventing mistakes.  The worry about "what if X needs to happen first" can be addressed in Rust (and C++) via appropriate wrapping.  You can also drop manually in complicated cases (also in

[2020-06-20 19:39] keean commented on #35
@ichoran you can achieve memory safety pretty easily without borrowing etc. Simply stack allocate and have pass by reference procedures. Allocations have to be direct on the stack or owned by existing data structures. I think this would achieve the memory safety aspects of Rust without lifetimes or any of that complexity?

You can allow functions with a simple refactoring, turning the return value

[2020-06-20 20:08] shelby3 commented on #35
@keean

Reference counting (aka ARC) is non-deterministic so you can’t be sure when the destructor will be invoked. Only stack allocated objects can be RAII deterministically collected. C++ allows it without checking for bugs due to use after free. Rust prevents use after free.

But the problem with destructors is they’re implicit. The reader of your code can’t see what is going on. And RAII has t

[2020-06-20 20:25] keean commented on #35
@shelby3 the problem is people forget the release resources, which lead to leaks. It's not just memory, but all kind of finite resources like file handles, listeners, observers etc.

GC only works for memory. In languages without destructors you have to have a manual "destroy" function on objects that you have to remember to call on _all_ code paths.

It's not write only core. Scoping rules are we

[2020-06-20 20:30] shelby3 commented on #35
@keean wrote:

Huh? The entire point is you wrap the resource in an object which is destructed when the object is freed from memory.

RAII doesn’t help you when your objects are GC’ed with ARC in C++/

[2020-06-20 20:39] shelby3 commented on #35
Refresh.

[2020-06-20 20:42] keean commented on #35
@shelby3 GC is implicit, the explicit method would be to require explicit delete calls, so I don't think you really mean you prefer it to be explicit.

Let's not use the term GC, instead let's talk about the semantics. Automatic memory management means the memory resource is freed automatically when it is no longer needed. It doesn't need to be GC, which is an implementation detail.

So what's wro

[2020-06-20 20:51] shelby3 commented on #35
@keean wrote:

That’s my point! When GC you must be explicit, you do not have any choice because the memory is freed at a non-deterministic juncture (and in some cases never if for example the program halts because the GC runs).

The point I made is you do not get to choose just one. Not all programs can keep all resources provably stack scoped. Even C++ and Rust punt to ARC in those cases.

I hav

[2020-06-20 20:54] shelby3 commented on #35
Inserted:

[2020-06-20 20:57] keean commented on #35
@shelby3 actually I was suggesting above that everything _can_ be explicitly stack scoped, but we have to design the language with that in mind. I think it is an interesting point in the design space to explore.

[2020-06-20 21:01] shelby3 commented on #35
Good luck. That’s not the PL I am designing, not do any mainstream PLs do that, so it seems irrelevant to discussion until you present evidence that such a design succeeds in the real world.

[2020-06-20 22:43] Ichoran commented on #35
@keean - I think the scheme you describe would only admit extremely simple data structures.  You can't have both mutability and references in such a case either, because

[code]

If you stick very strictly to stack-only, immutable-reference-only procedures (and no cheating by having references to references), then yeah, it's safe.  You can write that in Rust with no lifetimes and great performance

[2020-06-20 22:53] keean commented on #35
@Ichoran
[code]

The bit you missed is that 'b' becomes owned by 'x' and so is still in scope and valid.

The way to think about it is that that stack can store both internal an external data. Think of a tree rooted in the stack. All elements of the tree are owned by the stack root.

We can come up with a couple of semantics to enforce this, for example malloc is constrained to allocate memory lin

[2020-06-21 01:09] Ichoran commented on #35
@keean -

[code]

[code]

Not to mention that if your stack is a heap, you have to deal with stack fragmentation, stack leaks, etc. etc..  You wouldn't _ultimately_ have a stack leak because the root of the stack owns everything, but you could easily run out of space and/or free something in use before you destroy the world.

It's really just a "green memory architecture" (c.f. green threads).  No

[2020-06-21 05:56] shelby3 commented on #35
I inserted:

[2020-06-21 06:36] Ichoran commented on #35
I don't understand why writing reasonably straightforward code once, after which point the compiler takes on the burden of getting rid of things when they're no longer needed, is said to be "unreadable" compared to manually babbling about it every time (on _every_ return path, no less).  Nor do I understand why being "unreadable" is worse than the massive maintenance burden of having to get this r

[2020-06-21 06:48] keean commented on #35
@Ichoran the stack is not a heap, it's a stack, but like in the RAII idiom the lifetime of allocations is tied to the stack frame in which they are made. Or to put it another way, all allocated memory must have a single owning pointer that is stored in another block of allocated memory with a single owning pointer or the stack. Fragmentation should be no worse than the usual mix of heap and stack

[2020-06-21 06:55] shelby3 commented on #35
@Ichoran wrote:

Please read again my comments to understand. Okay I will repeat myself...

1. Inconsistency:
   * Programmer will need to override RAII sometimes.
   * RAII does not suffice for everything — sometimes have to punt to ARC or tracing GC (or for my ALP then super-efficient, non-tracing GC).
2. Implicit code can have hidden interactions, so not just unreadable but potentially buggy.

[2020-06-21 06:59] shelby3 commented on #35
Edited:

[2020-06-21 07:00] shelby3 commented on #35
Added:

[2020-06-21 07:02] shelby3 commented on #35
Added:

[2020-06-21 07:08] shelby3 commented on #35
Added:

[2020-06-21 07:13] keean commented on #35
@shelby3 my view on RAII is that it is like brackets '()' in English. RAII helps the programmer make sure resources are always freed by matching the open and close brackets (or braces '{}' depending on the language).

We are all used to how stack allocation works for built-in types, for example strings. RAII simply allows the programmer to create new objects that behave the same way as the built-i

[2020-06-21 07:27] shelby3 commented on #35
@keean

1. Brackets are explicit.
2. > The static insurances can also be obtained for explicitness, so there’s no advantage for the implicitness cuteness w.r.t. to preventing failure-to-cleanup.

And for 1 GB strings we would need sometimes an explicit destructor because stack scopes are not isomorphic with resource lifetime scopes.

I will repeat for the 4th time:

---

It’s not isomorphic as I h

[2020-06-21 07:34] shelby3 commented on #35
Added:

[2020-06-21 07:36] shelby3 commented on #35
Added:

[2020-06-21 07:38] keean commented on #35
@shelby3 I agree that static guarantees can be used but they would have the same restrictions. A static guarantee could check a variable destructor is called before it goes out of scope, but how will you cope when you want to store this resource in an external structure? For example with reference counting we can still ensure the destructor is called automatically as soon as the RC is zero. I can'

[2020-06-21 07:41] shelby3 commented on #35
@keean you are still trying to argue for the impossibility of having only stack scoped allocation. I told you I will not create such a PL because that is not feasible. So since any PL I will create will have both stack scoped and non-stack scoped, then you prior comment is vacuous and does not deserve another reply repeating myself for the 5th time. Please...

[2020-06-21 07:42] keean commented on #35
@shelby3 You haven't addressed that it is possible to avoid resource starvation using reference counting and destructors, and without explicit deallocation.

[2020-06-21 07:44] shelby3 commented on #35
Added:

[2020-06-21 07:44] keean commented on #35
@shelby3 The time the destructor is called is deterministic, at the point I the program the RC reaches zero. Your point is that the runtime of the deallocation is nondeterministic. GC is nondeterministic in both aspects.

[2020-06-21 07:47] keean commented on #35
@shelby3 I have established that GC finalization is not suitable for non-memory deallocation, due to resource starvation.

So you will have to manually implement reference counting for your filehandle.

[2020-06-21 07:48] shelby3 commented on #35
Added:

[2020-06-21 07:49] shelby3 commented on #35
Added:

[2020-06-21 07:52] shelby3 commented on #35
Added:

[2020-06-21 07:54] keean commented on #35
@shelby3 it's not a vacuous distinction. First the nondeterminism of RC does not lead to very long pauses in practice, see all iOS software, is generally as good or better than Android (iOS uses RC, Android uses GC), so this point about non-determinism is largely academic, but the resource starvation issues with finalizers definitely affect real programs (TomCat Java servers for example).

Second

[2020-06-21 07:59] NodixBlockchain commented on #35
I would just add if you use multi thread arena based allocation, you can have the same issue with RC. Or in any case you have shared references between arena and the last reference is not released by the same partition who allocated it.

[2020-06-21 08:00] keean commented on #35
@shelby3

How else are you going to hold external resources. You need some token like a filehandle, which is an object.

Even back in C/Fortran days when filehandles were integers, they are still need to be closed. You can still store the filehandle in external data structures, which may then need reference counting to know when it's safe to deallocate. I think this _is_ a vacuous distinction.

[2020-06-21 08:03] shelby3 commented on #35
Further explained for @keean:

[2020-06-21 08:05] Ichoran commented on #35
@keean - So you _do_ have a heap.  Okay.  That helps.

But I don't think the stack is going to do very well in cases where you don't know the size of the result.  You can preallocate `out` space for a primitive, but what if you need a string of unknown length?  What if you're computing the distinct elements of an array?

So I think, in practice, a lot of stuff is going to have to go on the heap fo

[2020-06-21 08:07] keean commented on #35
@shelby3 to clarify, this discussion is about destructors and automatic memory management, and whether RC is worth the worse performance in order to have (order) deterministic destructors, as compared to GC with finalizers that may never get called.

My claim is that with RC you can rely on destructors and not have to manually worry about freeing non-memory resources.

With GC you will have to man

[2020-06-21 08:09] keean commented on #35
@Ichoran you don't need to preallocate the out space, just the space for the owning pointer (which is always fixed size) on the stack.

[2020-06-21 08:11] shelby3 commented on #35
@keean

One thread for the entire program. Nice. :scream:

Not in my ALP model because the heap is completely deallocated when fetching a new message from the queue. This will help for those who want to insert runtime checks in finalizers to make sure they did the correct explicit cleanup.

But you’re really constructing a strawman because my point is that resource deallocation is not (always) iso

[2020-06-21 08:12] Ichoran commented on #35
@shelby3 - Clarity to me is not cluttering all the return paths of my code with boilerplate that tediously informs me that I'm properly managing my resources in the obvious way.

Your objections don't seem rooted in problems that I've encountered often enough to worry about.  In contrast, nearly-irrelevant boilerplate cluttering up my code, making it hard to see the actual logic, is something that

[2020-06-21 08:16] Ichoran commented on #35
@shelby3 -

With RAII you _make sure that the two are isomorphic_!  That's how you use it!

Why would you ever want to hang on to a bunch of memory corresponding to a resource that isn't usable any more?  There's no point.  Get rid of it.

Why would you want to complicate things by having one mega-struct with resources that go in and out of use, and no substructure to keep things straight?  Don't

[2020-06-21 08:17] shelby3 commented on #35
Added:

[2020-06-21 08:19] keean commented on #35
@shelby3

I never said that... Actually RC works better with multi-threading, as each thread does its own deallocation. GC is the one that _normally_ needs to stop the world for a single GC thread, but I know you have plans to address this?

You need to count the number of reference to your filehandle. So you know when it's safe to close. This applies even if the filehandle is just an Integer.

My

[2020-06-21 08:24] shelby3 commented on #35
@Ichoran

Nope.

Sometimes you need to release before the stack scope expire.

I wasn’t referring to hanging on longer, I am thinking of the case where you need to release sooner than the resource handle is destructed. Not isomorphic.

You are off on a tangent which has nothing to do with my point, presumably because you did not realize I was referring to release resources _before_ the expiration

[2020-06-21 08:25] shelby3 commented on #35
Added:

[2020-06-21 08:28] Ichoran commented on #35
@keean - Ah, so the unique pointer just aims at the heap.  So it's just like using `Box` in Rust, in that case, except the box is automatic so you don't need to worry about it.  And because it's unique, you will do the deallocation eventually (i.e. when that part of the stack is, eventually, popped).

That's an interesting idea.  I'd have to try to code something nontrivial in it to see what probl

[2020-06-21 08:31] shelby3 commented on #35
@Ichoran

Perhaps a `using` directive then? Would that appease you?

I’m just aiming to be consistent so that we are explicit about thinking about resource lifetimes being sometimes non-isomorphic to resource handle object lifetimes.

[2020-06-21 08:35] shelby3 commented on #35
Note I inserted a link to the C# explanation:

[2020-06-21 08:35] keean commented on #35
@shelby3 >Sometimes you need to release before the stack scope expire.

Destructors are called after the last use of the reference in a function, not necessarily the end of the function. This can be simply determined at compile time.

To control order of destructors, one resource can hold a reference to another. The rule with destructors is that all the resources held by this object (with RC zero)

[2020-06-21 08:37] sighoya commented on #35
@shelby3 wrote:

That would work with RAII, too. The destructor is then not called if already destructured beforehand.
Another option would be to use try-with-resources which would also call the finalizer/(non memory destructor).

@keean,
Did you imply there are too many files open that you can't open a new file?
This is rarely the case, and when it is, you can also catch the OOM exception and for

[2020-06-21 08:37] Ichoran commented on #35
@shelby3 - If you don't need the resource any longer, drop it early, explicitly.

I think the antipattern is maintaining scope-accessible resources in a useless state, not RAII.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2baade67d8ce2cc9df628de2b753f0e6

(You can't do anything to `ss` after you've dropped it.  `drop` has move semantics.)

[2020-06-21 08:44] shelby3 commented on #35
@keean

So then you need to explicitly `delete` when the resource needs to be released before the end of the stack frame scope, so once again being explicit as a I advocated. Thanks for agreeing with me finally.

@Ichoran

Yup that is my point. So might as well be explicit about it always for consistency of mental model and readable code (indicating that the programmer did indeed intend `using` an

[2020-06-21 08:45] keean commented on #35
@sighoya you certainly can run out of file-handles, most OS set a resource limit for filehandles before a program is started, and file-open will fail and throw an exception of there are none available. You won't get an Out Of Memory exception because you have lots of free memory, but you have no filehandles.

[2020-06-21 08:46] sighoya commented on #35
@keean
But I'm sure, there will be thrown some other kind of Exception, right?

[2020-06-21 08:52] keean commented on #35
@shelby3 >So then you need to explicitly delete when the resource needs to be released before the end of the stack frame scope, so once again being explicit as a I advocated. Thanks for agreeing with me finally.

I don't know how you got that, it seems the complete opposite of what I said. What I said is the destructor gets called automatically like this:
[code]
Here `f` will get destroyed after '

[2020-06-21 08:53] Ichoran commented on #35
@shelby3 - Being explicit is not a virtue when little relevant, actionable information is conveyed.  It's nice to be _able_ to when it matters, but otherwise, who cares?

For instance,

[code]

Reeeeeally?

Or maybe we can learn how some common things work and can just assume them unless it's stated otherwise, so we can skip the tedium?

[2020-06-21 08:53] shelby3 commented on #35
@sighoya refresh my prior comment.

[2020-06-21 08:53] sighoya commented on #35
Added:
Example: [Kind of Exception](https://doc.nuxeo.com/nxdoc/java.net.SocketException-too-many-open-files/#:~:text=To%20avoid%20this%2C%20you%20have,limit%20(1024%20by%20default).) for too many open files.

[2020-06-21 08:58] sighoya commented on #35
@shelby3 wrote:

Don't know _using_. try-with-resources is more or less equivalent to Python's [with statement](https://docs.python.org/2.5/whatsnew/pep-343.html).

[2020-06-21 08:58] shelby3 commented on #35
Added:

[2020-06-21 09:02] shelby3 commented on #35
Added:

[2020-06-21 09:15] keean commented on #35
@sighoya Is your suggestion to catch the exception and manually trigger a garbage collection. This will not work because you may have lots of free memory, so the GC may not release the resources. The point is there is no deterministic way to recover from the resource starvation.

[2020-06-21 09:17] shelby3 commented on #35
@Ichoran

I replied before you wrote your reply:

Indeed default precedence is analogous to default semantics of destructors in stack scopes, with an option to be explicit for exceptions.

The distinction is being explicit with operator precedence always would so noisy as to make a program very arduous to read, thus reducing readability and potentially causing the programmer to miss precedence err

[2020-06-21 09:29] shelby3 commented on #35
I added:

[2020-06-21 09:32] shelby3 commented on #35
I would prefer a different keyword than `using` or `with` that more intuitively conveys that the destructor will be called when exiting the stack scope. Perhaps `auto` or `scoped`? Can anyone think of a better keyword?

[2020-06-21 09:39] shelby3 commented on #35
Note the slight edit to make sure we understand I am not referring to outliers that escape outside the stack scope:

[2020-06-21 09:59] shelby3 commented on #35
@keean [wrote](https://github.com/keean/zenscript/issues/35#issuecomment-647086763):

This requires a compile-time, total ordering knowledge about runtime reference counting. Or it would be dynamic referencing counting and thus refute your claims of being able to do resource cleanup by stack scopes.

So clearly you can see it’s not viable otherwise Rust wouldn’t have ARC as a necessary option.

Yo

[2020-06-21 10:20] shelby3 commented on #35
Inserted something to exemplify my point about how slippage leads to a clusterfuck:

[2020-06-21 10:31] shelby3 commented on #35
Added:

[2020-06-21 11:28] sighoya commented on #35
@keean wrote:

Then write a GC which releases memory even in case of free memory. It doesn't have to be the standard strategy, but its useful as an option here.

@shelby3,
Isn't ESR now preferring Go to Python?
The point is still valid, python is a very stable language compared to modern languages like Rust, Swift and Kotlin which seem to suffocate from syntactic sugar they're increasing periodica

[2020-06-21 12:23] keean commented on #35
@shelby3 what I am proposing would be no worse than reference counting in the worst case, and in the best case significantly better. Basically you have reference counting as a fallback for runtime (like arc in rust) but then optimised where possible. I think this is semantically much better than Rust as you don't have the bifurcation red/blue language between static lifetimes and Arc data.

[2020-06-21 12:27] keean commented on #35
@sighoya Yes, if you had an eager garbage collector that freed all unreferenced data, and provides an explicit call to collect, then you might be better off, however you still cannot arrange for the GC to be called when the resource becomes unused, so you would have to call the GC before every allocation of the resource. Because this is eager GC there would be no limit on the length of pause the G

[2020-06-21 13:06] shelby3 commented on #35
Added:

[2020-06-21 13:24] shelby3 commented on #35
And thus taking us back to the entire reason you raised the point was making and thus you have rescinded [your original claim](https://github.com/keean/zenscript/issues/35#issuecomment-647044106):

[2020-06-21 13:37] shelby3 commented on #35
@keean

No you can’t because that defeats the economy-of-scale of tracing GC which is one the significant positive facets for employing it. A tracing GC which has to operate piece-meal will trash the performance of programs.

Not just latency would be horrific. Even if you find a way to tradeoff latency for more overhead, then the throughput will also be trashed.

Note that doesn’t correspond nece

[2020-06-21 13:47] shelby3 commented on #35
Refresh please. I added the following among other points:

[2020-06-21 14:09] sighoya commented on #35
@keean wrote:

Yes, but only if you force GC scanning before each non-memory resource allocation.
But as I said, you don't need this in general, only when an exception is thrown stating the file handle limit is exceeded.

[2020-06-21 14:41] shelby3 commented on #11
I like camel case for at least for type names, and I think the following does make an argument for employing hyphens instead of underscores at least between uppercase camel humps are separate words:

https://yosefk.com/blog/ihatecamelcase.html

https://wiki.theory.org/index.php/YourLanguageSucks#Poor_Design

I think I also prefer camel case but with first letter lowercase for function and procedur

[2020-06-21 20:32] Ichoran commented on #35
@shelby3 - `using` is handy, and I have implemented it in Scala to make up for no RAII, but it's a strictly inferior solution because you can't allow the resource to escape the scope.  With RAII, it's cleaned up whenever it needs to be.

For instance,

[code]

There's a resource leak bug here--assume this is a typical garbage collected language.  (I've written it like Scala.)  Where?

[2020-06-21 21:41] sighoya commented on #35
@Ichoran, I will assume the problem arrives when an exception is thrown inside open after the fis variable (assuming to be allocated on heap) is already initialized.

Another problem would be non-blocking threading inside `doSomething` inevitably causing `doSomething` to throw when writing to fis while `using` closes `fis` from the outside.

[2020-06-21 21:44] sighoya commented on #35
I added:

[2020-06-22 00:00] Ichoran commented on #35
@sighoya - Yes, the `else None` case is the bad leak.  It will _also_ possibly leak on exceptions in `stream.lines.head` (e.g. if the file has no lines), but since the exception isn't caught you only leak one file handle before terminating the program.  (A well-designed `open` shouldn't leave the file handle open on an exception because it hasn't been constructed yet!  At least not in a way that's

[2020-06-22 08:21] shelby3 commented on #35
For clarity and humility I added an edit:

[2020-06-22 08:35] shelby3 commented on #35
Also added to that edit:

[2020-06-22 08:51] shelby3 commented on #35
Note the inserted edit:

[2020-06-22 09:42] shelby3 commented on #35
@Ichoran [your example](https://github.com/keean/zenscript/issues/35#issuecomment-647178101) is an important use case that must be considered. Thank you for providing it.

You’re exemplifying that ARC (or Rust’s lifetime checker) enables the implicit cleanup only when the object for the resource handle doesn’t escape the stack scope (e.g. when not returned from the function). If `using` _always_ d

[2020-06-22 09:47] shelby3 commented on #35
Inserted:

[2020-06-22 09:57] keean commented on #35
@shelby3 I still think you have got RAII wrong. The key feature is that it prevents use after free of resources, because the variable goes out of scope at the same time as the resource is freed.

There is no conflation, it simply forces you to do so, consider:
[code]
vs
[code]
so when you say:

You have it backwards, we are deliberately making the resource handles lifetime match the lifetime of th

[2020-06-22 10:03] shelby3 commented on #35
@keean please assimilate the discussion and stop posting noise.

[2020-06-22 10:10] shelby3 commented on #35
Added for clarification (although the one sentence should have been sufficient):

[2020-06-22 10:21] keean commented on #35
@shelby3 >the lifetime of the resource can’t always be forced to be isomorphic with the lifetime of the object holding its resource handle

Example please? I have shown examples of how this works very well for the _common_ use case. Can you provide an example where it does not work?

[2020-06-22 10:23] shelby3 commented on #35
@keean

Already provided in the discussion which you have not assimilated. And you’re littering the discussion with noise now.

[2020-06-22 10:26] sighoya commented on #35
@keean

I think what @shelby3 wanted to say is, that instead of automatic implicit cleanup through RAII destructors, the compiler should throw an error and suggesting adding an using directive s.t. the user has to think about when the destructor has to be called, either earlier than inferred by RAII or exactly at the time inferred by RAII.

[2020-06-22 10:27] keean commented on #35
@sighoya How does the compiler know that a resource needs closing? What is a resource in the language model?

[2020-06-22 10:29] shelby3 commented on #35
@sighoya you covered the stack scoped case, but you did not regurgitate the entire discussion about the dynamic case, which ostensibly @keean still hasn’t assimilated.

[2020-06-22 10:29] keean commented on #35
@shelby3 >Note not a code example, but a description I provided as an example, which is sufficient.

You can write meaningless words as much as you like, but without a code example you are just making noise.

[2020-06-22 10:29] keean commented on #35
@shelby3 >but you did not regurgitate the entire discussion about the dynamic case, which ostensibly

See my dynamic map example above.

[2020-06-22 10:36] keean commented on #35
@shelby3 Lets look at this form a type theory perspective. Type theory says that they type must tell us if it is safe to run a function on a value. For example:
[code]
means that we can safely run 'add' on any 'Number'.

So for a file:
[code]
Means we can safely read a file from `a`. However we know that is _not_ true if `a` can be uninitialised, or closed, or in an error state.

There are two sol

[2020-06-22 10:38] sighoya commented on #35
It dependens on stack scoped versus dynamically scoped.

An indirection to a non memory blob.
@shelby3 wrote:

It is similar. If we have heap objects point to resources they need be either returned from the current stack scope to callers stack scope, or they have to be handled by the using directive inferred by the compiler.
This even have to be done with Thread objects/actors I think, otherwise t

[2020-06-22 10:38] keean commented on #35
@shelby3 >I guess I have no choice but to put you on ignore for this particular design point. If you can’t assimilate all what I already put too much effort into explaining upthread, then I do not have more time to waste on trying to help you assimilate.

Have you even looked at the dynamic example above? I will repeat as it looks like you missed it:
[code]
As you can see this method copes with bo

[2020-06-22 10:40] keean commented on #35
@sighoya

Sorry, that was a rhetorical question, I have already explained how this can be done by introducing extra types into the type system above.

I was trying to make a point that there are no cases that this covers that RAII does not already cover, because there is no point in having a "closed" file handle.

[2020-06-22 10:41] NodixBlockchain commented on #35
An easy solution is whole file operations but it doesn't work for all cases.

[2020-06-22 10:56] keean commented on #35
@shelby3 edit above, just explained how the map example works with reference counting, and also in modern C++ for good measure:

[2020-06-22 10:57] shelby3 commented on #35
@sighoya

Hmm. You may be correct that the compiler can detect if any data structure contains or references any object with a finalizer and warn is there’s no explicit intent (e.g. via a variant of `using` which allows escape) expressed. But apparently only in the case of an `iso` exclusivity of reference…

There’s an ambiguity when the said object has potentially multiple references at runtime (i

[2020-06-22 10:59] shelby3 commented on #35
Added:

[2020-06-22 11:06] keean commented on #35
@shelby3

Enabling progammers to make use-after-close bugs is very dangerous.

How exactly? as soon as you delete the map key in the above example, the resource is freed. To me this makes resource starvation less likely. As soon as you hold multiple references to the resource, you will end up implementing reference counting by hand anyway. What a load of old boilerplate!

How about this for an exa

[2020-06-22 11:07] shelby3 commented on #35
Added:

[2020-06-22 11:13] keean commented on #35
@shelby3

Sometimes you need to have more than one reference, for example with parallel algorithms that will become more common as we get processors with greater numbers of cores (ThreadRipper for example). In those (increasingly common) cases, you will hand-implement reference counting, so why not let the compiler do it for you.

I disagree, I have not yet seen an example where the two cannot be

[2020-06-22 11:21] shelby3 commented on #35
Added:

[2020-06-22 11:24] keean commented on #35
@shelby3

I am still waiting for an example of where the resource and the handle cannot be semantically isomorphic.

I still think enabling use-after-close bugs is a bad idea, where there is a solution that _prevents_ use after close bugs, and so far seems to cope with all use cases, as no counter examples have been found.

Until a counter example can be found, I don't think I am going to be persu

[2020-06-22 11:28] shelby3 commented on #35
I will elaborate a bit one more time:

[2020-06-22 11:30] NodixBlockchain commented on #48
For those interested, i found the abstraction i was looking for in stepanov book 'elements of programming', he calls this 'coordinated structure' and gets into all the points i'm searching, in case someone end up with the same questions :)

I'm still digesting the two chapters but at least i feel less in uncharted territory :)

types, zero or more value types, one or more traversal functions, and

[2020-06-22 11:35] keean commented on #48
@NodixBlockchain I think Stepanov's "Elements of Programming" is one of the best books on Generics I have read. I recommend reading it from start to finish several times. It is not an easy book, but once you get the idea of what is going on, the early chapters make a lot more sense.

I also recommend reading "From Mathematics to Generic Programming" by Stepanov & Rose as it presents the same mater

[2020-06-22 11:40] NodixBlockchain commented on #48
Yes there are all the algorithm to find isomorphism between "coordinated structures" and all those, couldn't find much reference to this term in the context of programming outside of stepanov book though.

The other book is also on my list, found some video on youtube as well.

[2020-06-22 11:44] keean commented on #35
@shelby3 For clarity (I assume this is obvious, but just to make sure), I agree with your other points about trying not to hold resources etc.

I think if you want to do this, you should use the type system to distinguish the handle states, as I outlined above, so that 'read' can only be used on an "OpenFileHandle". This will allow the type system to check there are not use-after-close errors wher

[2020-06-22 11:46] keean commented on #35
@shelby3

[2020-06-22 11:48] keean commented on #48
@NodixBlockchain Try "Data Structues and Network Algorithms" by Robert Endre Tarjan, which is a book on algorithms recommended by Stepanov.

[2020-06-22 11:48] shelby3 commented on #35
Note the humility edit:

[2020-06-22 11:53] shelby3 commented on #35
@keean

So you just ignore the following or don’t understand it or think it is not valid but refuse to explain why you think so other than to repeat what I already rebutted upthread?

[2020-06-22 12:12] shelby3 commented on #35
Maybe we make strong and weak finalizer references explict and then have the compiler track escape from stack scope for the single strong reference? Then no more ambiguity.

[2020-06-22 12:17] keean commented on #35
@shelby3

If you can access the reference, you can access the resource. If you cannot access the reference you cannot access the resource. Therefore it is safe to close the resource when no references remain, and it is unsafe to do so until no references remain. Q.E.D.

I already showed this was false upthread. The destructor can be called automatically after the last use of the reference in a fun

[2020-06-22 12:21] keean commented on #35
@shelby3

[2020-06-22 12:24] shelby3 commented on #35
@keean

I did presume you agree on that point as isolated from context.

I think it’s important to recognize that it has already been discussed yesterday, that static lifetimes can’t be determined in all cases. And that when punting to ARC for the dynamic case, this does not remain deterministic in the sense that the programmer can’t (or at least isn’t forced to) necessarily reason in a statically

[2020-06-22 12:30] keean commented on #35
@shelby3

You are making strong statements with no evidence. Extraordinary claims require extraordinary evidence.

In this case I am yet to see _any_ evidence that what you say is true. Your case is all speculation. Remember programs are proofs :-)

All you need to make your point real, and not speculation is a single example program that demonstrates the point.

[2020-06-22 12:30] shelby3 commented on #35
My gosh @keean you’re as [thick as a brick](https://www.songfacts.com/facts/jethro-tull/thick-as-a-brick) today. I’m going jogging. I do not know why you can’t comprehend such a simple concept?

[2020-06-22 12:31] keean commented on #35
@shelby3 just a single program demonstrating this is all I ask. Surely that can't be too hard?

[2020-06-22 12:36] shelby3 commented on #35
@keean the problem I think is that you’re only thinking about this in terms of the programmatic relations where indeed you can assert isomorphism between ARC and resource handle lifetime. But resource handle lifetime is not equivalent to _optimal_ resource lifetime (for averting resource starvation).

I am thinking about this on another level which is how does the programmer reason about that opti

[2020-06-22 12:38] shelby3 commented on #35
Added:

[2020-06-22 12:42] keean commented on #35
@shelby3

I am saying your conceptualisation is wrong, and mine is right. All you need to prove your point is a single example. I would love to be proven wrong, because it would mean I have learned something new...

How hard can it be to disprove my conceptulisation by providing a single example?

[2020-06-22 13:08] shelby3 commented on #35
Note the edits upon returning from jogging:

[2020-06-22 13:10] shelby3 commented on #35
Note the subtle but vital edits inserted in italics:

[2020-06-22 13:14] keean commented on #35
@shelby3

High level speculation is not proof. An example is needed.

ARC can be used for dynamic and static cases. For the static cases we can optimise the actual reference count out of the program, but by backing this with real reference counting we esure the sematics are consistent.

This is an assertion. Simply stating something is true does not make it so. This is equivalent to the statement

[2020-06-22 14:01] shelby3 commented on #35
@keean

Keep digging that hole with all the ridiculous repetitive noise to bury your brick...you’re cluttered the thread repeating the same point over and over again, burying the original meat of the discussion under a thicket of shouting repetitively in a bullhorn. Do you think ~~we~~[I] did not hear you the first time? I heard you man. I wrote in my quick edits above (which will be deleted and w

[2020-06-22 14:09] keean commented on #35
@shelby3
[code]
There is no sematic requirement to keep the handle after you have called 'finalize'... What are you keeping a closed handle for? It does not make any sense.

[2020-06-22 14:15] shelby3 commented on #35
@ThickAsABrick wrote:

I replied before he wrote it:

[2020-06-22 14:22] shelby3 commented on #35
What is this @keean you used some moderator privilege to make it appear that your comment was posted before mine when in fact you posted 5 minutes after mine:

![image](https://user-images.githubusercontent.com/247731/85298521-d1a46880-b469-11ea-8c32-ba6bdb19f67b.png)

[2020-06-22 14:23] shelby3 commented on #35
Oh I see you edited your comment.

[2020-06-22 14:25] keean commented on #35
@shelby3

Actually I would argue you can always refactor, and that refactoring will always make the programs purpose clearer, and easier to read.

Weak references should only be used for 'cache' data that may be removed at any time.

Now you could write a "file-handle" cache, that would store an open filehandle, ane periodically purge all open handles (a but like your code above), but then would r

[2020-06-22 14:31] keean commented on #35
@shelby3
[code]
Fixed :-)

[2020-06-22 14:32] keean commented on #35
@shelby3 Its much better to make the 'Weak' references explicit, otherwise you have no idea whether you need to test if the contents exist, not what data can disappear, and what data/resources you can rely on.

[2020-06-22 14:42] shelby3 commented on #35
Inserted:

[2020-06-22 14:46] shelby3 commented on #35
So after all that @keean has now effectively agreed I was correct from the start, lol. (Although he may not realize it, lol)

@keean so you’ve adopted strong and weak references with a paradigm for being explicit about finalization. You have regurgitated what I claimed:

[2020-06-22 14:53] keean commented on #35
@shelby3 You said RAII couldn't do 'X'... I just tried to understand what 'X' was, and when I did I presented the solution (explicit Weak references). So we have shown that RAII does not have the problems you were claiming.

My point that resource lifetimes are isomorphic to handle lifetimes still stands, because the weak reference lets you destroy the handle.

[2020-06-22 14:57] shelby3 commented on #35
@keean

Nope. Because by conflating concerns you will force inner encapsulated concerns to become propagated to outer separate concerns:

Also a non-ARC, GC’ed language can’t intermix ARC’ed resource handles into non-ARC, GC’ed data structures — you create a _What Color Is Your Function_ bifurcation clusterfuck.

[2020-06-22 15:05] keean commented on #35
@shelby3

Explicit weak references are better than implicit weak references. How will you tell if a reference is weak or not? If all references are weak, then you _must_ test the reference is still valid before _every_ dereference. That sounds like a lot of boilerplate.

True, and this is the point I was making much further up, a GC language can only have finalizers, and that is not good enough, s

[2020-06-22 15:09] shelby3 commented on #35
Inserted:

[2020-06-22 15:17] keean commented on #35
@shelby3 I think implicit weak references are more problematic than RAII for handles. It means that some references (to memory) behave differently (as strong references) to other references (to resources, as weak references).

By including explicit weak references we can treat any reference (to a resource or memory) the same, as a cache that we can clear at any time, and we can rely on them being

[2020-06-22 15:54] shelby3 commented on #35
It does seem that optimal answer which will also accommodate a GC’ed PL is being explicit about which single reference is the strong one, so then the type system can attempt to track it to insure it is explicitly released. Thus this is orthogonal to ARC. ARC is heuristic way of getting automatic release in many cases but it isn’t complete because not isomorphic and explicitness of the strong refer

[2020-06-22 16:04] shelby3 commented on #35
Note the edits:

[2020-06-22 16:06] keean commented on #35
@shelby3 I think we are coming to a consensus. Let me try and summarise:

No it does not. My example language has non-nullable references. A reference if it exists must be valid (a strong reference). The explicit weak reference you must test with (reference.isValid()) before you can dereference, so there is no null here either.

Again no, the explicit Weak reference tells the programmer that the r

[2020-06-22 16:12] NodixBlockchain commented on #35
Am i correct if i say shelby issue is on the line of for example if you have an image class that contain a file handle, the lifetime of the image class might be longer than the minimum required lifetime of the filehandle ? And thus the filehandle might remain open longer than it should if only based on RAII ?

[2020-06-22 16:27] shelby3 commented on #35
Note another edit:

[2020-06-22 16:35] shelby3 commented on #35
@NodixBlockchain

That’s not the complete conceptualization because of course the image class could set its copy of the file handle to `null` and RAII would call the destructor if that was the final reference to the file handle object. The issue is that the knowledge about when to optimally release may be outside of an orthogonal to the owner of the reference, so then you have move this hulking ma

[2020-06-22 17:09] shelby3 commented on #35
@keean

I see [you alluded](https://github.com/keean/zenscript/issues/35#issuecomment-647435028) to move semantics for C++ but that is still being explicit. You move the reference out of the map (and what do you leave in its place except a `null`?) then the block or stack frame scope deconstructs the reference you moved (i.e. assigned) it to. That is entirely equivalent to assigning to `null` for

[2020-06-22 17:20] shelby3 commented on #35
Refresh.

[2020-06-22 17:24] shelby3 commented on #35
Inserted:

[2020-06-22 17:27] sighoya commented on #35
@shelby3

You can't require the compiler to detect in interior when to release/finalize a resource, only in terminus. But the latter can't be required for dynamic cases, too, i.e. a finalization must be either aborted if some other entity is blocking your resource or you enforce to disrupt the access to that resource and cause the other entities to possibly fail in their obligations.

[2020-06-22 17:28] thickAsABrick commented on #35
Hello: I'll confirm that I, @thickAsABrick, did not post anything to, or contribute to,  this conversation. Not sure why I am receiving these notifications.

[2020-06-22 17:30] shelby3 commented on #35
Hahaha. Sorry I did not check to see you really exist. I guess I should have taken the visual cue when it was bolded in the comment. Apologies. I will not do it again. I hope you are not offended if I think find this to be funny.

[2020-06-22 17:32] thickAsABrick commented on #35
No problem. Just making sure my account was not hacked. Quite honestly, I do not know much about the subject matter that you are discussing.

[2020-06-22 17:34] shelby3 commented on #35
Thanks for the understanding. And your last sentence fits perfectly then — not that you should be expected to jump into an esoteric 601+ comments issues thread about programming language design and be able to assimilate it.

[2020-06-22 18:04] shelby3 commented on #35
@sighoya

If there is only one reference (or at least only one strong reference) to the resource handle then the compiler should be able to reason (by tracking the implicit linear type) when that reference dies either due to exit from its stack scope or assignment of `null`, i.e. Rust does this but hopefully it can be accomplished without lifetime annotations? With multiple strong references to th

[2020-06-22 18:06] shelby3 commented on #35
Refresh.

[2020-06-22 19:35] shelby3 commented on #35
Note the edit:

[2020-06-22 19:40] keean commented on #35
@shelby3 I can find a few references to automatic memory management and GC vs ARC, but it seems not widespread. To avoid confusion we should probably use MS (mark sweep) and RC (reference counting) are forms of AMM (automatic memory management), and avoid use of GC altogether.

You can always refactor so the life of the handle is the life of the resource. If the resource needs to be shorter lived

[2020-06-22 19:49] keean commented on #35
@shelby3

[code]
And therefore Weak would be a billable reference to the strong file handle. However you would not be allowed to just write a null. Weak is an abstract datatype, so the value is private, and you would have to call weak.delete() which calls the destructor on the object contained, and then replaces with a null.

[2020-06-22 20:10] Ichoran commented on #35
@shelby3 - Um, your supposed code counterexample isn't a counterexample.  In fact, the disproof of it being a counterexample was in my Rust example!  Here it is again:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2baade67d8ce2cc9df628de2b753f0e6

Here is the code, in case you want to see it here instead of run the runnable example there:

[code]

Rust drops at block clo

[2020-06-22 20:25] thickAsABrick commented on #35
My apologies for asking: is there something I can do at my end to stop these emails? I tried unsubscribe, but it does not seem to be helping?

[2020-06-22 20:58] sighoya commented on #30
What happened to Issue 35 (WD-40: Reducing Rust...), they say its deleted...

@thickAsABrick

Sorry, to mention you again, but the original thread seems gone, here you can block mentions from other users: [Link](https://help.github.com/en/github/building-a-strong-community/blocking-a-user-from-your-personal-account)

[2020-06-22 21:03] thickAsABrick commented on #30
Thanks, @sighoya

[2020-06-22 21:03] keean commented on #30
@sighoya sorry deleted by accident. Asked to be restored, now waiting...

[2020-06-22 22:36] shelby3 opened #49 "WD-40 Issues thread was accidentally deleted by @keean"
I will continue the discussion here, until or if @keean can get Github to restore the thread. Luckily I still have a copy of the deleted #35 thread loaded, so I can copy and paste from it. If the original thread is restored, ~~I will copy my posts from here back to that thread and delete this thread. I will give you an opportunity to copy your replies also before the deleting the thread. Perhaps @

[2020-06-22 23:00] shelby3 commented on #49
@Ichoran

Seems you completely ignored what I wrote earlier in the thread in response to @sighoya:

---

No it doesn’t. It obscures intent which can lead to inadvertent resource starvation. Yet I repeat myself again.

And Rust is not doing the ARC implementation of the form of RAII which can return the resource from the stack frame scope (i.e. not the “basic use case where the lifetime of an RAII

[2020-06-22 23:08] keean commented on #49
@shelby3 my use of Weak/Strong is in line with the common usage, for example see weak references in Java and JavaScript. Suggest we try and stick to the standard terminology.

The RAII case is less likely to lead to resource starvation because the programmer cannot forget to free the resource, and the resource is freed as soon as the program holds no references to the resource.

There is no semant

[2020-06-22 23:11] shelby3 commented on #49
@keean

No I suggest you assimilate what I write and understand that I specifically wrote (much earlier in the discussion) to not conflate it with (the traditional meaning of) strong and weak references.

As I predicted more blah blah from you repeating your same myopic argument for the Nth time and totally failing to address my holistic point.

The last use of the reference to a data structure wh

[2020-06-22 23:23] keean commented on #49
@shelby3 I think you just don't understand some things that are common knowledge in programming and it's frustrating trying to explain them to you.

I can understand you have a preference for a particular style of semantics, say GC with explicit destructors, and that is fine. You should also understand that there are other people who prefer other idioms like RAII.

Your criticisms that there is so

[2020-06-22 23:25] shelby3 commented on #49
@keean

That is an extremely unfair allegation when in fact I wrote earlier in the discussion that I was making a distinction from the common usage of the terms. Do I need to quote it for you?

There is nothing wrong with the logic of my model. And you put your foot in your mouth (and I use that terminology because you were forcefully stating I was wrong) because you did not read carefully what I

[2020-06-22 23:33] keean commented on #49
@shelby3 I have not said that your model is wrong, I am sure it's probably correct, just your use of non-standard terminology make it too much effort to decode.

I think your criticisms of RAII amount to a personal preference, and you don't seem to appreciate the real word benefits that I, and some others have been trying to explain to you, and are rooted in practical experience not speculation.

[2020-06-22 23:40] shelby3 commented on #49
@ keean you should refresh.

[2020-06-22 23:43] shelby3 commented on #49
@keean

Have I ever stated I don’t appreciate the benefits of RAII as compared to manual unchecked explicit release of resources? No! If you think I did, you simply failed to read carefully.

You did not even understand what I wrote! Hahaha. I was stating that I would have to punt to something like Rust _only_ if I wanted to achieve something like RAII in a non-ARC scenario. To any extent that C++

[2020-06-22 23:45] Ichoran commented on #49
@shelby3 - Can you please just write a code example that actually truly genuinely shows your point that resource starvation is a likely outcome?  Your existing example was disproved before you even posted it (whether or not you mentioned something to someone else later) because Rust lets you do what you said you couldn't do, and the resource is cleanable (if not clean because of Rust's drop-at-blo

[2020-06-22 23:50] shelby3 commented on #49
@Ichoran

What part of I don’t want to use Rust which I have stated many times do you fail to assimilate?

So you did not disprove anything w.r.t. to my stated context.

The discussion started with you claiming that Rust’s ability to manage resource lifetimes was a big win for the borrow checker. And I followed by saying I had been thinking about I don’t want to implicitly conflate resource lifeti

[2020-06-23 00:23] shelby3 commented on #49
1. That was not my only point against being implicit. I also cited unreadable code and incompatibility with my ALP GC given I don’t want to add the complexity of Rust’s lifetimes model.

2. Never did I claim “_likely_ outcome.” The point of such an example is to show how encapsulation can cause the resource release to be conflated with release of other things (perhaps another resource) that isn’t

[2020-06-23 00:44] shelby3 commented on #49
Refresh last post please. Numerous small edits.

[2020-06-23 00:53] shelby3 commented on #30
@sighoya

In case you haven’t already noticed, I created a [new thread](https://github.com/keean/zenscript/issues/49) interim while we are waiting for Github to hopefully restore that thread. I sure hope it isn’t lost. There is a few years of valuable discussion in that thread.

Are you sure his _ongoing_ problem was mentions from other users because you and I had stopped mentioning him but he cam

[2020-06-23 01:11] shelby3 commented on #49
@keean I added:

[2020-06-23 01:24] shelby3 commented on #49
@Ichoran please note the EDIT inserted:

[2020-06-23 01:43] shelby3 commented on #49
Inserted:

[2020-06-23 02:39] shelby3 commented on #49
Inserted:

[2020-06-23 02:54] shelby3 commented on #49
Replying to myself:

So it should be easy to make an example that shows how this could lead to resource starvation which would not be detected by RAII (neither Rust nor ARC).

Just store the resource handle in a data structure and stop accessing it meaning you are finished with the resource handle, but continue to hold on to the reference to the data structure and access  other members of that obj

[2020-06-23 03:42] shelby3 commented on #49
So now perhaps you can understand my perspective.

Given that I can’t have RAII in Task because:

1. I don’t want the tsuris of Rust’s lifetimes which includes even inability to accommodate unfettered cyclic references in addition to numerous other points that have been, including that we have to punt to ARC in Rust when our dynamic needs outstrip what static lifetimes can model and @keean claimin

[2020-06-23 06:54] sighoya commented on #30
Don't know what his problem was. Blocking users may help him to didn't get notified when new posts are created in threads he unsubscribed but still is, for whatever reason, subscribed.

We see if he still complains.

Edit: I will delete my side step comments here.

[2020-06-23 08:49] keean commented on #49
@Ichoran  To summarise my comments on how we could do better than Rust, I think lifetime erasure is a problem in Rust. I propose a system that uses reference counting as its semantics, and the type system is then used to provide static guarantees over this. Where static behaviour can be proven, then the RC will be optimised out. The reason for ARC rather than Mark-Sweep memory management is then t

[2020-06-23 08:49] Ichoran commented on #49
@shelby3 - You can use `std::sync::Weak` to make cyclic references safely and with no lifetimes (use move semantics).  You can use only safe Rust, have no memory leaks, and good (but not zero-overhead) runtime.  But it's a pain.  You have to manually construct things without cycles by imposing an orientation (and also hang on to the root so it doesn't get collected).

The downside of RAII is basic

[2020-06-23 08:58] Ichoran commented on #49
@keean - The cognitive overhead in Rust of avoiding Arc cycles is not entirely negligible--data structures where you used to not have to care end up being a mix of Arc and Weak.  Do you have a plan for how to avoid that?

[2020-06-23 09:03] keean commented on #49
@Ichoran

Yes, owning pointers _must_ form a Directed Acyclic Graph, enforced by the type checker.

[2020-06-23 09:11] shelby3 commented on #49
@keean any feedback yet from Github?

If we loose that entire issues thread #35, that is somewhat catastrophic to my work on the new PL. There were so many important comments posts that I had linked to from my grammar file which contained various explanations of various issues in the PL design space.

I know you have that backup you made 2 years ago. At the moment I still have a copy of that #35 i

[2020-06-23 09:25] keean commented on #49
@shelby3 nothing heard back yet. Its probably be sensible to make sure you don't lose what you have, but hold off posting up yet.

[2020-06-23 09:46] shelby3 commented on #49
@keean

I haven’t read the context yet, but I actually thought this point might be raised so I was thinking about this already just before I drifted off to sleep...

That Rust essentially prevents one from creating willy-nilly cyclic references, isn’t necessarily a good thing. It’s a limitation which may impact on degrees-of-freedom. I have not fully explored what that limitation means in practice

[2020-06-23 09:57] shelby3 commented on #49
@keean

In the meantime could you ask the community what Github’s typical capabilities and reaction is to such a support request and what is the best way to go about seeking any remedies which may be available?

https://github.community/

Are you sure the history is not available via an API? Surely the issues threads are Git versioned, including deletes? Perhaps the community may have a solution w

[2020-06-23 10:26] keean commented on #49
@shelby3 When I searced for issues, it seems they normally restore deleted stuff, next day for some people, but they say they are responding more slowly due to the current situation.

[2020-06-23 10:29] shelby3 commented on #49
Added upthread:

[2020-06-23 10:32] shelby3 commented on #49
@keean

That’s a major relief. Thank you. I hope so.

[2020-06-23 11:04] shelby3 commented on #49
Edited the OP:

[2020-06-23 11:47] NodixBlockchain commented on #49
i have the posts in mail from 03 jan 2018

[2020-06-23 11:53] NodixBlockchain commented on #49
It's in the idea of what i'm doing with the runtime, can switch from rc to ms, and still keep the rc semantic, that can help tracking subtle memory bugs, and make the required memory pattern more obvious.

[2020-06-23 12:27] shelby3 commented on #49
@Ichoran

The strong and weak references paradigm is a pita. Although perhaps it should be an option, I’d hope (at least for a high-level, easy-to-use PL) not to choose a paradigm where it’s the only option, because it’s another deviation from the ideal degrees-of-freedom, being sort of another _What Color Is Your Function_  bifurcation — which also describes at the generative essence Rust’s _alte

[2020-06-23 13:09] shelby3 commented on #49
(I will delete this post. @keean I am going to respond to your excellent proposal and explain how that fits into what I was also contemplating for my paradigm-shit and my ALP design. But first I need to do my morning jogging. Wrote this so you do not think the pause means I am done replying.)

[2020-06-23 13:44] shelby3 commented on #49
EDIT: @keean although I like the gist of your proposal, there appears to be a flaw, but let me think about this more while I am jogging...

[2020-06-23 15:51] shelby3 commented on #49
@keean

[…]

@keean I like that you were trying to paradigm-shift in a way that somewhat analogous to the paradigm-shift I’m contemplating, but unfortunately there’s a flaw in your design idea.

The flaw is that contrary to your claim of avoiding a _What Color Is Your Function_-like bifurcation, because there’s still such a bifurcation in your design.

~~This will still be a bifurcation w.r.t. to

[2020-06-23 16:02] shelby3 commented on #49
@NodixBlockchain

Does it have the link for each post? Because I refer to the posts by their URLs, so finding which posts I cited would be implausible without the links.

[2020-06-23 16:26] keean commented on #49
@shelby3

The source code of the function will be the same whether it can or cannot be monomorphised statically, so there will be no bifurcation of source. In some cases where we can prove static management of the resource is sufficient we will emit a different function, compared to those where the optimisation cannot be made. This second part is trivially obvious, because if we did not emit diffe

[2020-06-23 18:15] shelby3 commented on #49
You will not, but you will.

~~Readers @keean agreed with me.~~

~~So all functions will be bifurcated. Which is what I said.~~[@keean [is correct but with](https://github.com/keean/zenscript/issues/49#issuecomment-648410581) a potentially significant limitation on what can be optimized]